acVinCompte:
  type: abstract
  definition:
    fields:
      login: { }
      mot_de_passe: {  }
      email: {  }
      statut: {  }
      droits:
        type: array_collection
        definition:
          fields:
            '*': { }
      acces:
        type: array_collection
        definition:
          fields:
            '*': { }
      interpro: 
        type: collection
        definition:
          fields:
            '*':
              type: collection
              definition:
                fields:
                  statut: {  }

_Compte:
  inheritance: acVinCompte
  type: abstract
  definition:
    fields:
      login: { }

acVinCompteTiers:
  inheritance: _Compte
  definition:
    fields:
      _id: {  }
      _rev: {  }
      tiers:
        type: collection
        definition:
          fields:
            '*':
              type: collection
              definition:
                fields:
                  id: {  }
                  type: {  }
                  raison_sociale: {  }
                  interpro: {  }

acVinCompteVirtuel:
  inheritance: _Compte
  definition:
    fields:
      _id: {  }
      _rev: {  }
      type: {  }
      nom: {  }
      commune: {  }
      code_postal: {  }
      pays: {  }

CompteTiers:
  inheritance: acVinCompteTiers
  definition:
    fields:
      nom: {  }
      prenom: {  }
      fonction: {  }
      telephone: {  }
      fax: {  }
      type: {  }
      contrat: {  }
      raison_sociale: {  }
      valide: {  }
      contrat_valide: {  }
      dematerialise_ciel: {  }

CompteVirtuel:
  inheritance: acVinCompteVirtuel
  definition:
    fields:
      prenom: {  }
      telephone: {  }
      fax: {  }
      contrat: {  }

ComptePartenaire:
  inheritance: CompteVirtuel
  definition:
    fields: {  }

CompteOIOC:
  inheritance: CompteVirtuel
  definition:
    fields:
      oioc: {  }

Interpro:
  definition:
    fields:
      _id: {  }
      _rev: {  }
      _attachments:
        type: collection
        definition:
          fields:
            '*':
              type: collection
              definition:
                fields:
                  content_type: { }
                  revpos: { }
                  length: { }
                  stub: { } 
                  digest: { required: false } 
      identifiant: { }
      nom: { }
      type: {  }
      statut: {  }
      configuration_produits: {  }
      zone: {  }
      departements:
        type: array_collection
        definition:
          fields:
            '*': {  }
      correspondances:
        type: collection
        definition:
          fields:
            '*': {  }
      email_contrat_vrac: {  }
      email_contrat_inscription: {  }
      siren: {  }

OIOC:
  definition:
    fields:
      _id: {  }
      _rev: {  }
      identifiant: { }
      nom: { }
      email_transaction: {  }
      delai_reponses: {  }
      type: {  }
      statut: {  }

Contrat:
  definition:
    fields:
      _id: {  }
      _rev: {  }
      no_contrat: {  }
      type: {  }
      nom: {  }
      prenom: {  }
      fonction: {  }
      telephone: {  }
      fax: {  }
      compte: {  }
      email: {  }
      valide: {  }
      dematerialise_ciel: {  }
      etablissements:
        type: array_collection
        definition:
          fields:
            '*':
              type: collection
              definition:
                fields:
                  raison_sociale: {  }
                  nom: {  }
                  siret: {  }
                  cni: {  }
                  cvi: {  }
                  no_accises: {  }
                  no_tva_intracommunautaire: {  }
                  no_carte_professionnelle: {  }
                  adresse: {  }
                  code_postal: {  }
                  commune: {  }
                  pays: {  }
                  telephone: {  }
                  fax: {  }
                  email: {  }
                  famille: {  }
                  sous_famille: {  }
                  comptabilite_adresse: {  }
                  comptabilite_code_postal: {  }
                  comptabilite_commune: {  }
                  comptabilite_pays: {  }
                  service_douane: {  }
                  edi: {  }
                  zones:
                    type: collection
                    required: false
                    definition:
                      fields:
                        '*':
                          type: collection
                          definition:
                            fields:
                              libelle: {  }
                              transparente: {  }
                              administratrice: {  }

ConventionCiel:
  definition:
    fields:
      _id: {  }
      _rev: {  }
      no_convention: {  }
      raison_sociale: {  }
      no_operateur: {  }
      type: {  }
      nom: {  }
      prenom: {  }
      fonction: {  }
      telephone: {  }
      email: {  }
      compte: {  }
      interpro: {  }
      valide: { type: integer }
      etablissements:
        type: collection
        definition:
          fields:
            '*':
              type: collection
              definition:
                fields:
                  raison_sociale: {  }
                  nom: {  }
                  siret: {  }
                  cni: {  }
                  cvi: {  }
                  no_accises: {  }
                  no_tva_intracommunautaire: {  }
                  telephone: {  }
                  fax: {  }
                  email: {  }
                  famille: {  }
                  sous_famille: {  }
                  service_douane: {  }
                  siege:
                    type: collection
                    definition:
                      fields:
                        adresse: {  }
                        code_postal: {  }
                        commune: {  }
                        pays: {  }
                  comptabilite:
                    type: collection
                    definition:
                      fields:
                        adresse: {  }
                        code_postal: {  }
                        commune: {  }
                        pays: {  }
      habilitations:
        type: array_collection
        definition:
          fields:
            '*':
              type: collection
              definition:
                fields:
                  no_accises: {  }
                  nom: {  }
                  prenom: {  }
                  identifiant: {  }
                  droit_teleprocedure: {  }
                  droit_telepaiement: {  }
                  mensualisation: {  }
                              

Messages:
  definition:
    fields:
      _id: {  }
      _rev: {  }
      type: {}
      '*': {}
Controles:
  definition:
    fields:
      _id: {  }
      _rev: {  }
      type: {}
      '*': {}
