[submodule "project/plugins/acVinVracPlugin"]
	path = project/plugins/acVinVracPlugin
	url = git@gitorious.org:acvin/acvinvracplugin.git
[submodule "project/plugins/acVinEtablissementPlugin"]
	path = project/plugins/acVinEtablissementPlugin
	url = git@gitorious.org:acvin/acvinetablissementplugin.git
[submodule "project/plugins/acVinLibPlugin"]
	path = project/plugins/acVinLibPlugin
	url = git@gitorious.org:acvin/acvinlibplugin.git
[submodule "project/plugins/acCouchdbPlugin"]
	path = project/plugins/acCouchdbPlugin
	url = git@gitorious.org:accouchdbplugin/accouchdbplugin.git
[submodule "project/plugins/acVinComptePlugin"]
	path = project/plugins/acVinComptePlugin
	url = git@gitorious.org:acvin/acvincompteplugin.git
[submodule "project/plugins/acPhpCasPlugin"]
	path = project/plugins/acPhpCasPlugin
	url = git@gitorious.org:accasplugin/accasplugin.git
[submodule "project/plugins/acLdapPlugin"]
	path = project/plugins/acLdapPlugin
	url = git@gitorious.org:acldapplugin/acldapplugin.git
[submodule "project/plugins/acDompdfPlugin"]
	path = project/plugins/acDompdfPlugin
	url = git@gitorious.org:acdompdfplugin/acdompdfplugin.git
[submodule "project/plugins/acLessphpPlugin"]
	path = project/plugins/acLessphpPlugin
	url = git@gitorious.org:aclessphpplugin/aclessphpplugin.git
[submodule "project/plugins/acVinImportPlugin"]
	path = project/plugins/acVinImportPlugin
	url = git@gitorious.org:acvin/acvinimportplugin.git
[submodule "project/plugins/acVinDRMPlugin"]
	path = project/plugins/acVinDRMPlugin
	url = git@gitorious.org:acvin/acvindrmplugin.git
[submodule "wiki"]
	path = wiki
	url = git@gitorious.org:declarvin/declarvin-gitorious-wiki.git
