@charset "utf-8";
/**
 * Fichier : admin.less
 * Description : styles spécifiques au formulaire d'inscription
 * Auteur : Charlotte de VICHET - cdevichet[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/**
 * Admin - mon compte
 ******************************************/
#mon_compte,
#compteModification,
#compteAjout,
#validationFiche,
#libelleModification,
#formLiaisonInterpro {

    .ligne_form
    {
        margin: 0 0 15px;

        & > *
        {
            display: inline-block;
            vertical-align: middle;
        }

        label
        {
          
           width: 170px;
        }

        input[type="text"],
        input[type="password"],
        textarea
        {
            .box-radius(2px);
            background: #fff;
            border: 1px solid #D3D2CD;
            font-size: 12px;
            height: 20px;
            padding: 0 4px;
            width: 220px;
        }

        textarea
        {
            height: 100px;
            width: 350px;
            vertical-align: top;
        }



        ul
        {
            vertical-align: top;

            li
            {
                margin: 0 0 5px;

                input
                {
                    margin: 0 5px 0 0;
                    vertical-align: middle;
                }

                label { width: auto; }
            }
        }
    }

    .reinit_mdp
    {
        margin-left: 170px;
    }


    button
    {
        margin-top:1px;
    }

    .btnValidation { margin-left:170px; }

    .btn_valider
    { 
        .btn_violet;
        background-position: right -52px;
        background-repeat: no-repeat;
        color: #fff;
        display: inline-block;
        padding: 0 23px 0 15px;
        text-transform: uppercase;
    }

}


.etablissement_courant_admin
{
    a
    {
        background: url(../images/boutons/btn_etablissement_courant_admin.png) right 0 no-repeat;
        color : @couleur-b3;
        padding: 0 20px 0 0;

        span
        {
            background: url(../images/boutons/btn_etablissement_courant_admin.png) 0 0 no-repeat;
            float: left;
            padding: 0 0 0 27px;
        }
    }

    .quitter a
    {
        padding: 0;
        background: none !important;
    }
}


/* Information du compte */
#compteModification
{
    .societe
    {
        ul
        {
            margin: 0 0 20px;
            
            li
            {
                margin: 5px 0;
            }
        }
    }
}


#contenu
{
    .produit
    {
        .tableau_recap
        {
            td
            { 
                font-size: 11px;
                padding : 0 6px; 
                text-align: left;
            }

            #cat { width : 50px; }

            #dep, #labels, #douane, #cvo, #replis, #declas{ width: 25px;}
        }
     }

    #popup_produit,
	#recapitulatif
    {
        h2
        {
            background: none repeat scroll 0 0 #494949;
            color : #fff;
            font-weight : normal;
            display : block;
            padding : 3px 10px;
            width : 120px;
        }
    }

}

#validationFiche
{

    #modification_compte
    {

        p
        {
            margin : 0 0 15px;
        }

    }

    .ligne_btn
    {
        .btn_annuler
        {
            .btn_gris;
            color: #FFFFFF;
            display: inline-block;
            padding: 0 23px 0 15px;
            text-transform: uppercase;
            height: @hauteur_btn;
            height: 27px;
            line-height: 27px;
            margin-left: 0;
            vertical-align:middle;
        }

        .btn_valider
        {
            height: 28px;
            line-height: 28px;
            margin-left: 0;
            vertical-align:middle;
        }

    }

}