@import url("fancybox.css");
@charset "utf-8";
@charset "utf-8";
@charset "utf-8";
.gabarit {
  margin:0 auto;
  width:940px;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  border:0;
  font-size:100%;
  margin:0;
  outline:0;
  padding:0;
  vertical-align:baseline;
}
html, body { height:100%; }
a img, fieldset { border:0; }
a *, label, button, input[type=image], input[type=button], input[type=submit] { cursor:pointer; }
ol { list-style-position:inside; }
ul { list-style:none; }
strong { font-weight:bold; }
em { font-style:italic; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
sub {
  vertical-align:sub;
  font-size:smaller;
}
sup {
  vertical-align:super;
  font-size:smaller;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}
hr {
  border:0;
  border-top:1px solid #cccccc;
  display:block;
  height:1px;
  margin:1em 0;
  padding:0;
}
input, select { vertical-align:middle; }
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
.ui-helper-hidden { display:none; }
.ui-helper-hidden-accessible {
  position:absolute;
  left:-99999999px;
}
.ui-helper-reset {
  border:0;
  outline:0;
  text-decoration:none;
  font-size:100%;
  list-style:none;
}
.ui-helper-clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.ui-helper-clearfix { display:inline-block; }
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix {
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:absolute;
  opacity:0;
  filter:1;
}
.ui-state-disabled { cursor:default !important; }
.ui-icon {
  display:block;
  text-indent:-99999px;
  overflow:hidden;
  background-repeat:no-repeat;
}
.ui-widget-overlay {
  background:#000000;
  opacity:.2;
  filter:1;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.ui-autocomplete {
  -webkit-box-shadow:0 2px 10px #cccccc;
  -moz-box-shadow:0 2px 10px #cccccc;
  box-shadow:0 2px 10px #cccccc;
  -webkit-box-shadow:0 2px 10px #cccccc;
  -moz-box-shadow:0 2px 10px #cccccc;
  box-shadow:0 2px 10px #cccccc;
  background:#ffffff;
  border:1px solid #d3d2cd;
  max-height:300px;
  overflow-y:auto;
  overflow-x:hidden;
  position:absolute;
  width:250px;
}
.ui-autocomplete .ui-menu-item a {
  background:#ffffff;
  color:#494949;
  cursor:pointer;
  display:block;
  padding:2px;
  text-decoration:none;
}
.ui-autocomplete .ui-menu-item a.ui-state-hover, .ui-autocomplete .ui-menu-item a.ui-state-active { background:#dcdfa9; }
html {
  overflow-y:scroll;
  -webkit-font-smoothing:antialiased;
}
h1, h2, h3, h4, h5, h6 { font-weight:bold; }
textarea, input, select { font:12px Calibri, Arial, Verdana, Geneva, sans-serif; }
input[type=search] { -webkit-appearance:none; }
input[type="radio"] {
  height:14px;
  vertical-align:text-bottom;
  width:14px;
}
input[type="checkbox"] {
  vertical-align:bottom;
  *vertical-align:baseline;
}
.ie6 input { vertical-align:text-bottom; }
button {
  background:0;
  border:0;
  font-family:Calibri, Arial, Verdana, Geneva, sans-serif;
  margin:0;
  outline:0;
  overflow:visible;
  padding:0;
}
button::-moz-focus-inner {
  border:0;
  padding:0;
}
button span { position:relative; }
.ielt8 button span { margin:-1px 0 -2px; }
pre, code, kbd, samp { font-family:monospace, sans-serif; }
.error_list, .flash_error {
  background:#ffdddd;
  border:1px solid #a12929;
  color:#a12929;
  font-weight:bold;
  margin:0 0 10px;
  padding:5px 10px;
}
.flash_notice {
  background:#ecfeea;
  border:1px solid #359b02;
  color:#1e5204;
  font-weight:bold;
  margin:0;
  padding:5px 10px;
}
.vigilance_list {
  background:#fff1d9;
  border:1px solid #ff9f00;
  color:#d68500;
  font-weight:bold;
  margin:0 0 10px;
  padding:5px 10px;
}
.btn_ajouter {
  background:url(../images/pictos/pi_ajouter.png) 0 center no-repeat;
  color:#494949;
  font-weight:bold;
  height:23px;
  padding:0 0 0 15px;
}
.btn_ajouter:hover, .btn_ajouter:focus { text-decoration:underline; }
.btn_ajouter.btn_chargement {
  background-image:url(../images/pictos/pi_loader.gif);
  padding-left:20px;
}
.btn_majeur {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
}
.btn_vert {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#b1cb00;
  border-color:#99af00;
}
.btn_vert:hover, .btn_vert:focus { background-color:#99af00; }
.btn_rose {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#d4484a;
  border-color:#a12929;
}
.btn_rose:hover, .btn_rose:focus { background-color:#a12929; }
.btn_bordeaux {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background:#820608 url(../images/fonds/bg_drm_actions.png) left top repeat-x;
  border:none;
  height:21px;
}
.btn_bordeaux span {
  background-image:url(../images/pictos/pi_drm_actions.png);
  background-repeat:no-repeat;
  display:inline-block;
  height:21px;
  padding:0 5px 0 32px;
}
.btn_rouge {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#820608;
  border-color:#a12929;
}
.btn_rouge:hover, .btn_rouge:focus { background-color:#a12929; }
.btn_gris {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#a0a0a0;
  border-color:#c0c0c0;
}
.btn_gris:hover, .btn_gris:focus { background-color:#494949; }
.btn_prec, .btn_suiv {
  background:url(../images/boutons/btn_majeur.png) 0 0 no-repeat;
  color:#ffffff;
  display:inline-block;
  font-size:15px;
  line-height:26px;
}
.btn_prec:hover, .btn_suiv:hover { text-decoration:none; }
.btn_prec span, .btn_suiv span {
  background:url(../images/boutons/btn_majeur.png) 0 0 no-repeat;
  display:inline-block;
  line-height:26px;
}
button.btn_prec, button.btn_prec span, button.btn_suiv, button.btn_suiv span { height:26px; }
#btn_suiv_prec {
  clear:both;
  height:20px;
}
#btn_suiv_prec .btn_prec, #btn_suiv_prec .btn_suiv { background:url(../images/boutons/btn_majeur_gris.png); }
#btn_suiv_prec .btn_prec span, #btn_suiv_prec .btn_suiv span { background:url(../images/boutons/btn_majeur_gris.png); }
.btn_prec {
  background-position:0 -52px !important;
  float:left;
  padding:0 0 0 18px;
}
.btn_prec span {
  background-position:right 0 !important;
  padding:0 18px 0 10px;
}
.btn_suiv {
  background-position:right -52px !important;
  float:right;
  padding:0 18px 0 0;
}
.btn_suiv span {
  background-position:0 -26px !important;
  padding:0 10px 0 18px;
}
a.msg_aide {
  -webkit-opacity:0.5;
  -khtml-opacity:0.5;
  -moz-opacity:0.5;
  opacity:0.5;
  background:url(../images/pictos/pi_aide.png) 0 0 no-repeat;
  display:inline-block;
  height:17px;
  margin-top:-3px;
  outline:0;
  vertical-align:middle;
  width:17px;
}
a.msg_aide:hover {
  -webkit-opacity:1;
  -khtml-opacity:1;
  -moz-opacity:1;
  opacity:1;
}
.invisible {
  clip:rect(1px 1px 1px 1px);
  clip:rect(1px,1px,1px,1px);
  position:absolute !important;
}
.masque {
  background:0 !important;
  border:0 !important;
  display:block !important;
  float:none !important;
  height:1px !important;
  list-style:none !important;
  margin:-1px 0 0 -1px !important;
  position:absolute !important;
  overflow:hidden !important;
  padding:0 !important;
  width:1px !important;
}
.clear { clear:both; }
.center { text-align:center; }
.f_left {
  display:inline;
  float:left;
}
.f_right {
  display:inline;
  float:right;
}
.z1 { zoom:1; }
.clearfix { zoom:1; }
.clearfix:before, .clearfix:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
.clearfix:after { clear:both; }
.pie { behavior:url(../pie.htc); }
.inline-block-ie {
  display:inline;
  zoom:1;
}
#message_ie6 {
  background:#feefda;
  border:solid #f7941d;
  border-width:1px 0;
  margin:0 0 15px;
}
#message_ie6 .gabarit {
  background:url(../images/fonds/bg_message_ie6.png) 0 center no-repeat;
  height:50px;
  padding:10px 0 10px 70px;
  width:870px;
}
#message_ie6 p { font-size:12px; }
#message_ie6 p strong {
  font-size:16px;
  display:block;
  margin:0 0 5px;
}
body {
  background:#000000 url(../images/fonds/bg_body.jpg) center 0 no-repeat;
  color:#494949;
  font-family:Calibri, Arial, Verdana, Geneva, sans-serif;
  font-size:14px;
  line-height:1.2;
}
a {
  color:#494949;
  text-decoration:none;
}
a:hover { text-decoration:underline; }
#global {
  margin:0 auto;
  width:940px;
}
#header {
  zoom:1;
  margin:0 0 10px;
}
#header:before, #header:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#header:after { clear:both; }
#flash_message {
  background:#ffffff;
  padding:15px 20px 5px;
  zoom:1;
}
#flash_message:before, #flash_message:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#flash_message:after { clear:both; }
#contenu {
  background:#ffffff;
  padding:25px 20px 70px;
  zoom:1;
}
#contenu:before, #contenu:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#contenu:after { clear:both; }
#contenu #principal { zoom:1; }
#contenu #principal:before, #contenu #principal:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#contenu #principal:after { clear:both; }
#contenu.gabarit_2 { background:#ffffff url(../images/fonds/bg_contenu_2_cols.png) 620px 10px no-repeat; }
#contenu.gabarit_2 #principal {
  float:left;
  padding:0 20px 0 0;
  width:580px;
}
#contenu.gabarit_2 #colonne {
  float:left;
  padding:0 0 0 25px;
  width:275px;
}
#footer {
  background:#f1f1f1 url(../images/fonds/bg_footer.png) 0 0 repeat-x;
  padding:12px 20px;
  zoom:1;
}
#footer:before, #footer:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#footer:after { clear:both; }
#header #logo {
  margin:0 0 40px;
  padding:25px 0 0;
}
#header #logo h1 { margin:0 0 12px; }
#header #logo p {
  color:#ffffff;
  font-size:20px;
}
#header nav {
  float:right;
  font-size:17px;
  font-weight:bold;
  line-height:41px;
  text-transform:uppercase;
}
#header nav li {
  background:url(../images/fonds/bg_nav_header.png) 0 0 repeat-x;
  border:1px solid #ffffff;
  display:inline;
  float:left;
  margin:0 0 0 18px;
}
#header nav li a {
  color:#820608;
  float:left;
  padding:0 10px;
}
#header nav li a:hover { text-decoration:none; }
#header nav li.profil {
  background-position:0 -41px;
  border-color:#8a0808;
}
#header nav li.profil a { color:#ffffff; }
#header p.deconnexion {
  font-size:15px;
  font-style:italic;
  text-align:right;
}
#header p.deconnexion a {
  color:#ffffff;
  text-decoration:underline;
}
#header p.deconnexion a:hover { text-decoration:none; }
#header p.deconnexion a.backend_link { color:#820608; }
#header .backend {
  background:url(../images/fonds/bg_btn_backend.png) 0 0 repeat-x;
  border-color:#8a0808;
}
#header .backend a { color:#ffffff; }
#barre_navigation {
  background:#f1f1f1;
  border-bottom:1px solid #e1e1e0;
  padding:4px 4px 0;
  zoom:1;
}
#barre_navigation:before, #barre_navigation:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#barre_navigation:after { clear:both; }
#barre_navigation a:hover { text-decoration:none; }
#barre_navigation #nav_principale {
  float:left;
  line-height:35px;
  font-size:16px;
  margin:0 0 -10px;
  top:-10px;
  position:relative;
  text-align:center;
}
#barre_navigation #nav_principale li {
  float:left;
  margin:0 4px 0 0;
}
#barre_navigation #nav_principale li a {
  color:#494949;
  float:left;
  padding:5px 0 0;
  width:80px;
}
#barre_navigation #nav_principale li.actif { font-weight:bold; }
#barre_navigation #nav_principale li.actif a, #barre_navigation #nav_principale li a:hover, #barre_navigation #nav_principale li a:focus {
  background:url(../images/fonds/bg_nav_principale.png) center 0 no-repeat;
  color:#ffffff;
}
#barre_navigation #actions_etablissement {
  float:right;
  line-height:27px;
}
#barre_navigation #actions_etablissement li {
  display:inline;
  float:left;
}
#barre_navigation #actions_etablissement li.backend {
  background:url(../images/fonds/bg_btn_backend.png) 0 0 repeat-x;
  padding:0 10px;
}
#barre_navigation #actions_etablissement li.backend a { color:#ffffff; }
#barre_navigation #actions_etablissement li.etablissement_courant a {
  background:url(../images/boutons/btn_etablissement_courant.png) right 0 no-repeat;
  padding:0 20px 0 0;
}
#barre_navigation #actions_etablissement li.etablissement_courant a span {
  background:url(../images/boutons/btn_etablissement_courant.png) 0 0 no-repeat;
  float:left;
  padding:0 0 0 27px;
}
#barre_navigation #actions_etablissement li.quitter { margin-right:-10px; }
#barre_navigation #actions_etablissement li a {
  color:#ffffff;
  float:left;
}
#barre_navigation #actions_etablissement li img { display:block; }
#contenu { position:relative; }
#contenu h1 {
  color:#a12929;
  font-size:22px;
  font-weight:normal;
  margin:0 0 20px;
}
#contenu .intro { margin:0 0 20px; }
#principal #onglets_principal {
  line-height:23px;
  zoom:1;
}
#principal #onglets_principal:before, #principal #onglets_principal:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#principal #onglets_principal:after { clear:both; }
#principal #onglets_principal li {
  background:#e9e9e9;
  float:left;
  margin:0 6px 0 0;
}
#principal #onglets_principal li.actif, #principal #onglets_principal li a:hover, #principal #onglets_principal li a:focus {
  background:#820608;
  color:#ffffff;
}
#principal #onglets_principal li.actif strong, #principal #onglets_principal li a:hover strong, #principal #onglets_principal li a:focus strong { font-weight:normal; }
#principal #onglets_principal li a, #principal #onglets_principal li strong {
  float:left;
  padding:0 15px;
}
#principal #onglets_principal li a:hover { text-decoration:none; }
#principal #onglets_principal li .completion {
  color:#ff9f00;
  font-weight:bold;
  margin:0 0 0 5px;
}
#principal #onglets_principal li .completion.completion_validee { color:#b1cb00; }
#principal #onglets_principal li.ajouter {
  background:0;
  margin:0 0 0 10px;
}
#principal #onglets_principal li.ajouter a {
  background:url(../images/pictos/pi_ajouter.png) 0 center no-repeat;
  color:#494949;
  font-weight:bold;
  height:23px;
  padding:0 0 0 15px;
}
#principal #onglets_principal li.ajouter a:hover, #principal #onglets_principal li.ajouter a:focus { text-decoration:underline; }
#principal #contenu_onglet {
  background:#f1f1f1;
  border:1px solid #e9e9e9;
  margin:0 0 15px;
  padding:18px;
}
#principal #contenu_onglet .notice {
  background:#ffffff;
  border:1px solid #dbdbdb;
  margin:0 0 15px;
  padding:15px;
  zoom:1;
}
#principal #contenu_onglet .notice:before, #principal #contenu_onglet .notice:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#principal #contenu_onglet .notice:after { clear:both; }
#principal #contenu_onglet .notice h2, #principal #contenu_onglet .notice ul li { margin:0 0 10px; }
#principal #contenu_onglet .notice kbd {
  background:#ffffff;
  border:1px solid #dbdbdb;
  border-width:1px 2px 2px 1px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  padding:3px;
  vertical-align:middle;
}
#footer p {
  color:#737373;
  float:left;
  font-size:12px;
}
#footer p a { color:#737373; }
#footer ul#logos_footer { float:right; }
#footer ul#logos_footer li {
  float:left;
  margin:0 0 0 15px;
}
.btn_popup_trigger {
  clip:rect(1px 1px 1px 1px);
  clip:rect(1px,1px,1px,1px);
  position:absolute !important;
}
.ui-dialog {
  background:#f4f4f4;
  border:10px solid #ffffff;
  -webkit-box-shadow:0 0 5px #000000;
  -moz-box-shadow:0 0 5px #000000;
  box-shadow:0 0 5px #000000;
  -webkit-box-shadow:0 0 5px #000000;
  -moz-box-shadow:0 0 5px #000000;
  box-shadow:0 0 5px #000000;
  padding:15px;
}
.ui-dialog .ui-dialog-titlebar {
  margin:0 0 15px;
  overflow:hidden;
  position:relative;
  width:100%;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  color:#a12929;
  display:block;
  font-size:22px;
  font-weight:normal;
  padding:0 20px 0 0;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
  position:absolute;
  right:0;
  top:0;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon {
  background:url(../images/boutons/btn_fermer_popup.png) 0 0 no-repeat;
  height:14px;
  width:13px;
}
.ui-dialog .ui-dialog-content { zoom:1; }
.popup_form .ligne_form {
  zoom:1;
  line-height:22px;
  margin:0 0 15px;
}
.popup_form .ligne_form:before, .popup_form .ligne_form:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
.popup_form .ligne_form:after { clear:both; }
.popup_form .ligne_form label {
  display:inline-block;
  vertical-align:top;
  width:200px;
}
.popup_form .ligne_form input[type=text], .popup_form .ligne_form select {
  background:#ffffff;
  border:1px solid #d3d2cd;
  font-size:14px;
  vertical-align:top;
}
.popup_form .ligne_form input[type=text] {
  height:20px;
  padding:0 4px;
  width:190px;
}
.ielt9 .popup_form .ligne_form input[type=text] {
  height:18px;
  padding-top:2px;
}
.popup_form .ligne_form ul.checkbox_list {
  height:135px;
  padding:0 4px;
  width:190px;
  overflow:auto;
  display:inline-block;
}
.popup_form .ligne_form ul.checkbox_list label { display:inline; }
.popup_form .ligne_form input[type=checkbox], .popup_form .ligne_form input[type=radio] {
  margin:0 5px 0 0;
  vertical-align:middle;
}
.popup_form .ligne_form select {
  height:22px;
  width:200px;
}
.popup_form .ligne_form input.ui-autocomplete-input + button {
  background:#ffffff;
  border:1px solid #d3d2cd;
  border-left:0;
  vertical-align:top;
}
.popup_form .ligne_form input.ui-autocomplete-input + button:hover { background-color:#dcdfa9; }
.popup_form .ligne_form input.ui-autocomplete-input + button .ui-icon {
  background:url(../images/pictos/pi_desc.png) center center no-repeat;
  height:20px;
  width:20px;
}
.popup_form .ligne_form input[type=text], .popup_form .ligne_form select {
  background:#ffffff;
  border:1px solid #d3d2cd;
  font-size:14px;
  vertical-align:top;
}
.popup_form .ligne_form input[type=text] {
  height:20px;
  padding:0 4px;
  width:190px;
}
.ielt9 .popup_form .ligne_form input[type=text] {
  height:18px;
  padding-top:2px;
}
.popup_form .ligne_form .ui-dropdownchecklist-selector-wrapper, .popup_form .ligne_form .ui-dropdownchecklist-selector {
  font-size:0;
  line-height:1;
}
.popup_form .ligne_form .ui-dropdownchecklist-selector-wrapper .ui-dropdownchecklist-text, .popup_form .ligne_form .ui-dropdownchecklist-selector .ui-dropdownchecklist-text {
  background:#ffffff;
  border:1px solid #d3d2cd;
  color:#494949;
  font-size:14px;
  height:18px;
  padding:2px 4px 0;
  width:190px !important;
}
.popup_form .ligne_form .ui-dropdownchecklist-selector-wrapper.ui-state-active .ui-dropdownchecklist-text, .popup_form .ligne_form .ui-dropdownchecklist-selector.ui-state-active .ui-dropdownchecklist-text { border-bottom-color:#f4f4f4; }
.popup_form .ligne_form .ui-dropdownchecklist-dropcontainer-wrapper {
  height:auto !important;
  width:auto !important;
}
.popup_form .ligne_form .ui-dropdownchecklist-dropcontainer {
  background:#ffffff;
  border:1px solid #d3d2cd;
  height:200px !important;
  width:250px;
}
.popup_form .ligne_form .ui-dropdownchecklist-dropcontainer .ui-dropdownchecklist-item { padding:2px 4px; }
.popup_form .ligne_form .ui-dropdownchecklist-dropcontainer .ui-dropdownchecklist-item label {
  width:auto;
  vertical-align:middle;
}
.popup_form .ligne_form .error {
  display:block;
  line-height:1.2;
  margin:15px 0 0;
}
.popup_form .ligne_form_btn {
  margin:30px 0 0;
  text-align:right;
}
.popup_form .ligne_form_btn button {
  height:28px;
  line-height:28px;
  margin:0 0 0 5px;
  padding:0 10px;
  text-transform:uppercase;
}
.popup_form .ligne_form_btn button.btn_annuler {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#d4484a;
  border-color:#a12929;
}
.popup_form .ligne_form_btn button.btn_annuler:hover, .popup_form .ligne_form_btn button.btn_annuler:focus { background-color:#a12929; }
.popup_form .ligne_form_btn button.btn_valider {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#b1cb00;
  border-color:#99af00;
}
.popup_form .ligne_form_btn button.btn_valider:hover, .popup_form .ligne_form_btn button.btn_valider:focus { background-color:#99af00; }
.popup_chargement .ligne_form_btn {
  background:url(../images/pictos/pi_loader.gif) 0 center no-repeat;
  padding-left:20px;
}
.popup_chargement .ligne_form_btn button {
  -webkit-opacity:0.5;
  -khtml-opacity:0.5;
  -moz-opacity:0.5;
  opacity:0.5;
}
#popup_msg_aide #btn_popup_msg_aide {
  margin:15px 0 0;
  text-align:center;
}
#popup_msg_aide #btn_popup_msg_aide a {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#b1cb00;
  border-color:#99af00;
  height:28px;
  line-height:28px;
  margin:0 0 0 5px;
  padding:0 10px;
  text-transform:uppercase;
}
#popup_msg_aide #btn_popup_msg_aide a:hover, #popup_msg_aide #btn_popup_msg_aide a:focus { background-color:#99af00; }
#creation_compte h1 {
  font-size:23px;
  font-weight:normal;
  margin:0 0 25px;
}
#creation_compte h1 strong { color:#820608; }
#creation_compte h2 {
  font-size:16px;
  margin:0 0 15px;
}
#creation_compte .col {
  display:inline-block;
  vertical-align:top;
  width:430px;
}
.ielt8 #creation_compte .col {
  display:inline;
  zoom:1;
}
#creation_compte .ligne_form { margin:0 0 15px; }
#creation_compte .ligne_form .error_list { width:310px; }
#creation_compte .ligne_form label {
  display:inline-block;
  vertical-align:middle;
  width:200px;
}
#creation_compte .ligne_form.ligne_form_large label {
  display:block;
  margin:0 0 10px;
  width:auto;
}
#creation_compte .ligne_form input[type=text], #creation_compte .ligne_form input[type=password], #creation_compte .ligne_form select {
  background:#ffffff;
  border:1px solid #d3d2cd;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  font-size:12px;
  position:relative;
  vertical-align:middle;
  behavior:url(../pie.htc);
}
#creation_compte .ligne_form input[type=text], #creation_compte .ligne_form input[type=password] {
  height:18px;
  padding:0 4px;
  width:120px;
}
.ielt9 #creation_compte .ligne_form input[type=text], .ielt9 #creation_compte .ligne_form input[type=password] {
  height:16px;
  padding-top:2px;
}
#creation_compte .ligne_form select {
  height:20px;
  width:130px;
}
#creation_compte .ligne_form .champ_form_radio_cb label {
  display:inline-block;
  margin:0 20px 0 0;
  width:auto;
}
#creation_compte .ligne_form.ligne_form_large .champ_form_radio_cb input {
  margin:0 5px 0 0;
  vertical-align:middle;
}
#creation_compte .ligne_btn { margin:30px 0 0; }
#creation_compte .ligne_btn button, #creation_compte .ligne_btn a {
  height:28px;
  line-height:28px;
  font-size:15px;
  font-weight:normal;
  text-transform:uppercase;
}
#creation_compte .ligne_btn button:hover, #creation_compte .ligne_btn a:hover { text-decoration:none; }
#creation_compte .ligne_btn .btn_valider {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#820608;
  border-color:#a12929;
  background:url(../images/boutons/btn_majeur.png) 0 0 no-repeat;
  color:#ffffff;
  display:inline-block;
  font-size:15px;
  line-height:26px;
  background-position:right -52px !important;
  float:right;
  padding:0 18px 0 0;
  padding:0 23px 0 15px;
}
#creation_compte .ligne_btn .btn_valider:hover, #creation_compte .ligne_btn .btn_valider:focus { background-color:#a12929; }
#creation_compte .ligne_btn .btn_valider:hover { text-decoration:none; }
#creation_compte .ligne_btn .btn_valider span {
  background:url(../images/boutons/btn_majeur.png) 0 0 no-repeat;
  display:inline-block;
  line-height:26px;
}
#creation_compte .ligne_btn .btn_valider span {
  background-position:0 -26px !important;
  padding:0 10px 0 18px;
}
#creation_compte .ligne_btn .btn_ajouter {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#b1cb00;
  border-color:#99af00;
  background-image:url(../images/boutons/btn_ajouter.png);
  background-position:7px center;
  margin:0 10px 0 0;
  padding:0 10px 0 30px;
}
#creation_compte .ligne_btn .btn_ajouter:hover, #creation_compte .ligne_btn .btn_ajouter:focus { background-color:#99af00; }
#creation_compte .ligne_btn .btn_supprimer {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#d4484a;
  border-color:#a12929;
  background-image:url(../images/boutons/btn_supprimer.png);
  background-position:7px center;
  padding:0 10px 0 30px;
}
#creation_compte .ligne_btn .btn_supprimer:hover, #creation_compte .ligne_btn .btn_supprimer:focus { background-color:#a12929; }
#creation_compte #infos_etablissements {
  margin:40px 0 0;
  position:relative;
  padding:0 150px 0 0;
  width:600px;
}
#creation_compte #infos_etablissements a#btn_ajouter_etablissement {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#b1cb00;
  border-color:#99af00;
  background-image:url(../images/boutons/btn_ajouter.png);
  background-position:10px center;
  font-size:15px;
  line-height:1;
  position:absolute;
  padding:4px 10px 4px 32px;
  font-size:15px;
  right:0;
  text-transform:uppercase;
}
#creation_compte #infos_etablissements a#btn_ajouter_etablissement:hover, #creation_compte #infos_etablissements a#btn_ajouter_etablissement:focus { background-color:#99af00; }
#creation_compte #infos_etablissements a#btn_ajouter_etablissement:hover { text-decoration:none; }
#creation_compte #infos_etablissements a#btn_ajouter_etablissement span {
  color:#494949;
  display:block;
  font-size:14px;
  font-weight:bold;
  text-transform:none;
}
#creation_compte #infos_etablissements .etablissement {
  border:1px solid #e9e9e9;
  background:#f1f1f1;
  display:inline-block;
  margin:0 20px 20px 0;
  padding:10px 10px 0;
  position:relative;
  vertical-align:top;
  width:250px;
}
.ielt8 #creation_compte #infos_etablissements .etablissement {
  display:inline;
  zoom:1;
}
#creation_compte #infos_etablissements .etablissement .error_list { width:auto; }
#creation_compte #infos_etablissements .etablissement .ligne_form label { width:110px; }
#creation_compte #infos_etablissements .etablissement a.supprimer {
  height:13px;
  width:13px;
  bottom:auto;
  left:auto;
  position:absolute;
  right:-5px;
  top:-5px;
  background:url(../images/pictos/pi_supprimer.png) 0 0 no-repeat;
  display:inline-block;
  text-indent:-9999px;
}
#creation_compte #recapitulatif .recap_perso, #creation_compte #recapitulatif .recap_etablissement { margin:0 0 20px; }
#creation_compte #recapitulatif .recap_perso p, #creation_compte #recapitulatif .recap_etablissement p { margin:5px 0; }
#creation_compte #recapitulatif .recap_perso p span, #creation_compte #recapitulatif .recap_etablissement p span { font-weight:bold; }
#creation_compte #recapitulatif .recap_perso p strong, #creation_compte #recapitulatif .recap_etablissement p strong {
  color:#737373;
  font-style:italic;
  font-weight:normal;
}
#creation_compte #recapitulatif .recap_etablissement {
  border:1px solid #e9e9e9;
  background:#f1f1f1;
  padding:15px;
}
#creation_compte #recapitulatif .recap_etablissement .adresse_comptabilite { margin:20px 0 0; }
#creation_compte #recapitulatif .ligne_btn { text-align:right; }
p#date_drm {
  font-size:16px;
  font-style:italic;
  margin:20px 0;
}
#statut_declaration {
  margin:0 0 25px;
  zoom:1;
}
#statut_declaration:before, #statut_declaration:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#statut_declaration:after { clear:both; }
#statut_declaration #declaration_etapes {
  background:url(../images/fonds/bg_etapes_declaration.png) 0 0 no-repeat;
  color:#ffffff;
  float:left;
  padding:11px 0 11px 6px;
}
#statut_declaration #declaration_etapes ol {
  line-height:21px;
  list-style:none;
}
#statut_declaration #declaration_etapes ol * { float:left; }
#statut_declaration #declaration_etapes ol li { background:url(../images/fonds/bg_etapes_declaration.png) 0 -43px repeat-x; }
#statut_declaration #declaration_etapes ol li > * {
  background:url(../images/fonds/bg_etapes_declaration.png) 0 -106px no-repeat;
  padding:0 15px 0 20px;
}
#statut_declaration #declaration_etapes ol li a { color:#ffffff; }
#statut_declaration #declaration_etapes ol li a:hover { text-decoration:none; }
#statut_declaration #declaration_etapes ol li.premier { background-position:0 -64px; }
#statut_declaration #declaration_etapes ol li.premier > * {
  background:0;
  padding-left:10px;
}
#statut_declaration #declaration_etapes ol li.dernier > * { padding-right:0; }
#statut_declaration #declaration_etapes ol li.dernier > * span {
  background:url(../images/fonds/bg_etapes_declaration.png) right -148px no-repeat;
  padding-right:20px;
}
#statut_declaration #declaration_etapes ol li.dernier.actif > * span { background-position:right -169px; }
#statut_declaration #declaration_etapes ol li.passe, #statut_declaration #declaration_etapes ol li.actif { background-position:0 -64px; }
#statut_declaration #declaration_etapes ol li.passe > *, #statut_declaration #declaration_etapes ol li.actif > * { background-position:0 -127px; }
#statut_declaration #declaration_etapes ol li.actif { font-weight:bold; }
#statut_declaration #declaration_etapes ol li.actif + li > * { background-position:0 -85px; }
#statut_declaration #etat_avancement {
  float:right;
  margin:-10px 0 0;
  width:130px;
}
#statut_declaration #etat_avancement p {
  font-size:11px;
  line-height:1;
  margin:0 0 5px;
  text-align:right;
}
#statut_declaration #etat_avancement p strong {
  color:#820608;
  font-size:24px;
  margin:0 0 0 5px;
}
#statut_declaration #etat_avancement p strong span { font-size:12px; }
#statut_declaration #etat_avancement #barre_avancement { background:#494949; }
#statut_declaration #etat_avancement #barre_avancement div {
  background:#820608;
  height:3px;
}
#contenu #utilisateur {
  bottom:auto;
  left:auto;
  position:absolute;
  right:-8px;
  top:5px;
  background:url(../images/fonds/bg_utilisateur.png) right top no-repeat;
  font-size:12px;
  padding:0 8px 7px 0;
  text-transform:uppercase;
}
#contenu #utilisateur p {
  background:url(../images/fonds/bg_utilisateur_contenu.png) left top no-repeat;
  color:#ffffff;
  font-style:italic;
  height:23px;
  line-height:23px;
  padding-left:15px;
}
#contenu #utilisateur p b { font-weight:bold; }
#contenu #nombre_etabs {
  color:#737373;
  font-size:15px;
  margin:-10px 0 35px;
}
#contenu #nombre_etabs b { font-weight:bold; }
#principal #etablissements_drm {
  padding-top:8px;
  position:relative;
}
#principal #etablissements_drm #liste_etablissements ul {
  zoom:1;
  bottom:auto;
  left:15px;
  position:absolute;
  right:auto;
  top:0;
}
#principal #etablissements_drm #liste_etablissements ul:before, #principal #etablissements_drm #liste_etablissements ul:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#principal #etablissements_drm #liste_etablissements ul:after { clear:both; }
#principal #etablissements_drm #liste_etablissements ul li {
  display:inline;
  float:left;
  background:url(../images/fonds/bg_etabs_liste.png) left top no-repeat;
  margin-right:20px;
  padding-left:4px;
}
#principal #etablissements_drm #liste_etablissements ul li.etab_courant a {
  border:1px solid #830404;
  background:#830404 url(../images/fonds/bg_etabs_liste_lien.png) left top repeat-x;
  color:#ffffff;
}
#principal #etablissements_drm #liste_etablissements ul li a {
  border:1px solid #aaaaaa;
  background:#a8a8a8 url(../images/fonds/bg_etabs_liste_default.png) left top repeat-x;
  color:#494949;
  display:inline-block;
  padding:5px 7px;
}
#principal #etablissements_drm #liste_etablissements ul li a:hover { text-decoration:none; }
#principal #etablissements_drm #liste_etablissements ul li a .surligne {
  font-style:italic;
  text-decoration:underline;
}
#principal #etablissements_drm #etablissements_infos {
  margin:0 0 20px;
  border:1px solid #e9e9e9;
  background:#f1f1f1;
  padding:15px;
  padding:55px 0 15px 20px;
}
#principal #etablissements_drm #etablissements_infos p { margin:5px 0; }
#principal #etablissements_drm #etablissements_infos p span { font-weight:bold; }
#principal #etablissements_drm #etablissements_infos p strong {
  color:#737373;
  font-style:italic;
  font-weight:normal;
}
#principal #etablissements_drm #etablissements_infos .adresse_comptabilite { margin:20px 0 0; }
#principal #etablissements_drm #etablissements_infos table { width:100%; }
#principal #etablissements_drm #etablissements_infos table colgroup #titres { width:95px; }
#principal #etablissements_drm #etablissements_infos table colgroup #echeance { width:260px; }
#principal #etablissements_drm #etablissements_infos table colgroup #etat { width:215px; }
#principal #etablissements_drm #etablissements_infos table colgroup #liens_etabs { width:225px; }
#principal #etablissements_drm #etablissements_infos table tbody td, #principal #etablissements_drm #etablissements_infos table tbody th {
  padding:0 20px 0 0;
  text-align:left;
}
#principal #etablissements_drm #etablissements_infos table tbody td.derniers, #principal #etablissements_drm #etablissements_infos table tbody th.derniers { padding:0; }
#principal #etablissements_drm #etablissements_infos table tbody td .masque_case, #principal #etablissements_drm #etablissements_infos table tbody th .masque_case {
  background:url(../images/fonds/bg_etabs_table_td.png) left bottom repeat-x;
  display:block;
  padding:7px 0 9px 0;
}
#principal #etablissements_drm #etablissements_infos table tbody td a.btn_accueil_drm, #principal #etablissements_drm #etablissements_infos table tbody th a.btn_accueil_drm { margin-right:15px; }
#principal #recap_drm {
  float:left;
  width:670px;
}
#principal #recap_drm table {
  border-collapse:separate;
  border-spacing:3px;
  width:100%;
}
#principal #recap_drm table th, #principal #recap_drm table td {
  border:1px solid;
  font-weight:normal;
  line-height:18px;
  vertical-align:middle;
}
#principal #recap_drm table thead th {
  background:#820608;
  border-color:#820608;
  color:#ffffff;
  padding:0 10px;
  text-align:left;
}
#principal #recap_drm table tbody td {
  background:#e9e9e9;
  border-color:#dbdbdb;
  padding:5px 10px;
  text-align:left;
  vertical-align:top;
}
#principal #recap_drm table tbody td a { text-decoration:underline; }
#principal #recap_drm table tbody td a:hover { text-decoration:none; }
#principal #recap_drm table tbody td a.btn_visualiser { margin-right:35px; }
#principal #recap_drm table tbody tr.alt td { background:#ffffff; }
#principal #recap_drm #drm_annee_courante { margin:0 0 25px; }
#principal #recap_drm #drm_anciennes h2 {
  zoom:1;
  background:#820608;
  color:#ffffff;
  cursor:pointer;
  font-weight:bold;
  line-height:26px;
  margin:20px 0;
}
#principal #recap_drm #drm_anciennes h2 span {
  zoom:1;
  background:url('../images/fonds/bg_ancienne_drm_titre.png') right 0 no-repeat;
  display:block;
  padding:4px 15px 0;
  position:relative;
  top:-4px;
}
#principal #recap_drm #drm_anciennes h2.ouvert span { background-position:right -34px; }
#principal #recap_drm #drm_anciennes h2 em { font-style:normal; }
#principal #nav_drm_annees {
  float:right;
  font-size:15px;
  line-height:20px;
  margin:5px 0 0;
  width:200px;
  text-transform:uppercase;
}
#principal #nav_drm_annees li { margin:0 0 1px; }
#principal #nav_drm_annees li * {
  border-left:3px solid #494949;
  display:inline-block;
  padding:0 0 0 10px;
}
#principal #nav_drm_annees li a:hover, #principal #nav_drm_annees li strong { border-left-color:#820608; }
#principal #nav_drm_annees li a:hover { color:#820608; }
#principal #nav_drm_annees li strong {
  background:url(../images/fonds/bg_nav_drm_annees.png) 0 center no-repeat;
  color:#820608;
  font-size:16px;
}
#principal #drm_informations form {
  font-size:16px;
  margin:0px 0 0 70px;
}
#principal #drm_informations form .ligne_form { margin:0 0 20px; }
#principal #drm_informations form .ligne_form * {
  display:inline-block;
  vertical-align:top;
}
#principal #drm_informations form .ligne_form label {
  font-weight:bold;
  margin:0 10px 0 0;
  width:350px;
}
#principal #drm_informations form .ligne_form .valeur {
  color:#737373;
  font-style:italic;
}
#principal .tableau_ajouts_liquidations { margin:0 0 25px; }
#principal .tableau_ajouts_liquidations h2 {
  font-size:16px;
  font-weight:normal;
  margin:0 0 10px;
}
#principal .tableau_ajouts_liquidations .recap_produit { position:relative; }
#principal .tableau_ajouts_liquidations .recap_produit .btn { text-align:right; }
#principal .tableau_ajouts_liquidations table {
  border-collapse:separate;
  border-spacing:3px;
  margin:0 0 10px;
  width:100%;
}
#principal .tableau_ajouts_liquidations table th, #principal .tableau_ajouts_liquidations table td {
  border:1px solid;
  font-weight:normal;
  line-height:18px;
  padding:0 10px;
  vertical-align:middle;
}
#principal .tableau_ajouts_liquidations table thead th {
  background:#820608;
  border-color:#820608;
  color:#ffffff;
}
#principal .tableau_ajouts_liquidations table thead th:first-child {
  text-align:left;
  width:180px;
}
#principal .tableau_ajouts_liquidations table tbody td {
  background:#e9e9e9;
  border-color:#dbdbdb;
  text-align:center;
}
#principal .tableau_ajouts_liquidations table tbody td:first-child { text-align:left; }
#principal .tableau_ajouts_liquidations table tbody td a.supprimer {
  height:13px;
  width:13px;
  background:url(../images/pictos/pi_supprimer.png) 0 0 no-repeat;
  display:inline-block;
  position:absolute;
  left:-15px;
  text-indent:-9999px;
}
#principal .tableau_ajouts_liquidations table tbody td input, #principal .tableau_ajouts_liquidations table tbody td select {
  margin:3px 0;
  vertical-align:middle;
}
#principal .tableau_ajouts_liquidations table tbody td input[type=checkbox] { height:14px; }
#principal .tableau_ajouts_liquidations table tbody td input[type=text], #principal .tableau_ajouts_liquidations table tbody td select {
  background:#ffffff;
  border:1px solid #dbdbdb;
  color:#494949;
}
#principal .tableau_ajouts_liquidations table tbody td input[type=text].num, #principal .tableau_ajouts_liquidations table tbody td select.num { width:50px; }
#principal .tableau_ajouts_liquidations table tbody td input[type=text]:hover, #principal .tableau_ajouts_liquidations table tbody td input[type=text]:focus, #principal .tableau_ajouts_liquidations table tbody td select:hover, #principal .tableau_ajouts_liquidations table tbody td select:focus { border-color:#777777; }
#principal .tableau_ajouts_liquidations table tbody td input[type=text] {
  height:16px;
  padding:2px 5px 0;
}
#principal .tableau_ajouts_liquidations table tbody td select { height:20px; }
#principal .tableau_ajouts_liquidations table tbody tr.alt td { background:#ffffff; }
#principal .tableau_ajouts_liquidations .ajout_produit { margin:10px 0 0; }
#principal .tableau_ajouts_liquidations .ajout_produit table { margin:0 0 10px; }
#principal .tableau_ajouts_liquidations .ajout_produit .btn { text-align:right; }
#principal .tableau_ajouts_liquidations .ajout_produit .btn .btn_annuler {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#d4484a;
  border-color:#a12929;
}
#principal .tableau_ajouts_liquidations .ajout_produit .btn .btn_annuler:hover, #principal .tableau_ajouts_liquidations .ajout_produit .btn .btn_annuler:focus { background-color:#a12929; }
#principal .tableau_ajouts_liquidations .ajout_produit .btn .btn_valider {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#b1cb00;
  border-color:#99af00;
}
#principal .tableau_ajouts_liquidations .ajout_produit .btn .btn_valider:hover, #principal .tableau_ajouts_liquidations .ajout_produit .btn .btn_valider:focus { background-color:#99af00; }
#principal .tableau_ajouts_liquidations .ajout_produit .btn .btn_annuler, #principal .tableau_ajouts_liquidations .ajout_produit .btn .btn_valider {
  line-height:20px;
  margin:0 0 0 5px;
  padding:0 5px;
}
#colonnes_dr {
  zoom:1;
  border:1px solid #dbdbdb;
  background:#ffffff;
  margin:0 0 15px;
  padding:15px;
}
#colonnes_dr:before, #colonnes_dr:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#colonnes_dr:after { clear:both; }
#colonnes_dr .col_curseur { font-size:1px; }
#colonnes_dr #colonne_intitules {
  float:left;
  font-size:13px;
  line-height:20px;
  margin-right:25px;
  position:relative;
  width:280px;
}
#colonnes_dr #colonne_intitules p {
  background:#f1f1f1 8px 5px no-repeat;
  border:1px solid #dbdbdb;
  margin:0 0 10px;
  padding:0 8px;
}
#colonnes_dr #colonne_intitules .groupe {
  margin:0 0 10px;
  text-align:right;
}
#colonnes_dr #colonne_intitules .groupe p {
  background-color:#f1f1f1;
  background-image:url(../images/puces/fleche_col_groupe_ferme.png);
  cursor:pointer;
  font-weight:bold;
  padding-left:20px;
}
#colonnes_dr #colonne_intitules .groupe.groupe_ouvert p {
  background-image:url(../images/puces/fleche_col_groupe_ouvert.png);
  background-position:8px 6px;
  margin:0;
}
#colonnes_dr #colonne_intitules .groupe ul {
  color:#820608;
  font-size:12px;
  padding:10px 9px 0 0;
}
#colonnes_dr #colonne_intitules .groupe ul li { margin:0 0 10px; }
#colonnes_dr #colonne_intitules .totaux { padding:20px 0 0; }
#colonnes_dr #colonne_intitules .totaux p {
  background:#820608;
  color:#ffffff;
  font-weight:bold;
}
#colonnes_dr #col_saisies {
  float:left;
  padding:0 0 10px;
  position:relative;
  overflow-x:auto;
  width:508px;
}
#colonnes_dr #col_saisies .col_saisies_cont { zoom:1; }
#colonnes_dr #col_saisies .col_saisies_cont:before, #colonnes_dr #col_saisies .col_saisies_cont:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#colonnes_dr #col_saisies .col_saisies_cont:after { clear:both; }
#colonnes_dr .col_recolte {
  float:left;
  font-size:13px;
  line-height:20px;
  margin-right:25px;
  position:relative;
  width:102px;
}
#colonnes_dr .col_recolte input, #colonnes_dr .col_recolte select {
  background:#ffffff;
  border:1px solid #dbdbdb;
  color:#494949;
  text-align:right;
}
#colonnes_dr .col_recolte input:hover, #colonnes_dr .col_recolte input:focus, #colonnes_dr .col_recolte select:hover, #colonnes_dr .col_recolte select:focus { border-color:#777777; }
#colonnes_dr .col_recolte input {
  height:16px;
  padding:2px 5px 0;
  position:relative;
  top:-1px;
  width:76px;
}
#colonnes_dr .col_recolte input.somme, #colonnes_dr .col_recolte input.somme_groupe, #colonnes_dr .col_recolte input.somme_stock_debut, #colonnes_dr .col_recolte input.somme_stock_fin {
  border-color:#bcbcbc;
  font-weight:bold;
}
#colonnes_dr .col_recolte input.somme:hover, #colonnes_dr .col_recolte input.somme:focus, #colonnes_dr .col_recolte input.somme_groupe:hover, #colonnes_dr .col_recolte input.somme_groupe:focus, #colonnes_dr .col_recolte input.somme_stock_debut:hover, #colonnes_dr .col_recolte input.somme_stock_debut:focus, #colonnes_dr .col_recolte input.somme_stock_fin:hover, #colonnes_dr .col_recolte input.somme_stock_fin:focus { border-color:#777777; }
#colonnes_dr .col_recolte select {
  height:18px;
  width:88px;
}
#colonnes_dr .col_recolte select[multiple] { height:50px; }
#colonnes_dr .col_recolte .num_light { color:#b0b0b0; }
#colonnes_dr .col_recolte h2 {
  background:#820608;
  color:#ffffff;
  padding:1px 8px;
  text-align:center;
}
#colonnes_dr .col_recolte .col_cont {
  background:#f1f1f1;
  border:1px solid #dbdbdb;
  border-width:0 1px 1px;
  padding:10px 6px;
}
#colonnes_dr .col_recolte .col_cont p {
  font-weight:bold;
  height:20px;
  text-align:right;
  padding:1px 0;
  margin:0 0 10px;
  overflow:hidden;
  zoom:1;
}
#colonnes_dr .col_recolte .col_cont p.label { height:auto; }
#colonnes_dr .col_recolte .col_cont p.label span { display:block; }
#colonnes_dr .col_recolte .col_cont .groupe { margin:0 0 10px; }
#colonnes_dr .col_recolte .col_cont .groupe.groupe_ouvert { margin:0; }
#colonnes_dr .col_recolte .col_cont .groupe p { margin:0; }
#colonnes_dr .col_recolte .col_cont .groupe ul { padding:10px 0 0; }
#colonnes_dr .col_recolte .col_cont .groupe ul li {
  height:20px;
  margin:0 0 10px;
  overflow:hidden;
  zoom:1;
}
#colonnes_dr .col_recolte .col_cont .totaux {
  color:#820608;
  padding:20px 0 0;
}
#colonnes_dr .col_recolte .col_cont .col_btn { visibility:hidden; }
#colonnes_dr .col_recolte .col_cont .col_btn button {
  font-size:12px;
  font-weight:bold;
  height:20px;
  line-height:20px;
  margin:0 0 3px;
  padding:0 5px;
}
#colonnes_dr .col_recolte .col_cont .col_btn .btn_modifier, #colonnes_dr .col_recolte .col_cont .col_btn .btn_reinitialiser {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#d4484a;
  border-color:#a12929;
}
#colonnes_dr .col_recolte .col_cont .col_btn .btn_modifier:hover, #colonnes_dr .col_recolte .col_cont .col_btn .btn_modifier:focus, #colonnes_dr .col_recolte .col_cont .col_btn .btn_reinitialiser:hover, #colonnes_dr .col_recolte .col_cont .col_btn .btn_reinitialiser:focus { background-color:#a12929; }
#colonnes_dr .col_recolte .col_cont .col_btn .btn_valider {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#b1cb00;
  border-color:#99af00;
}
#colonnes_dr .col_recolte .col_cont .col_btn .btn_valider:hover, #colonnes_dr .col_recolte .col_cont .col_btn .btn_valider:focus { background-color:#99af00; }
#colonnes_dr .col_recolte .col_cont .col_btn .btn_supprimer {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#820608;
  border-color:#a12929;
}
#colonnes_dr .col_recolte .col_cont .col_btn .btn_supprimer:hover, #colonnes_dr .col_recolte .col_cont .col_btn .btn_supprimer:focus { background-color:#a12929; }
#colonnes_dr .col_recolte .col_masque {
  bottom:0;
  left:0;
  position:absolute;
  right:auto;
  top:0;
  display:none;
  width:102px;
}
#colonnes_dr .col_recolte.col_inactive .col_cont input, #colonnes_dr .col_recolte.col_inactive .col_cont select { background:#f1f1f1; }
#colonnes_dr .col_recolte.col_inactive .col_cont input.somme, #colonnes_dr .col_recolte.col_inactive .col_cont input.somme_groupe, #colonnes_dr .col_recolte.col_inactive .col_cont input.somme_stock_debut, #colonnes_dr .col_recolte.col_inactive .col_cont input.somme_stock_fin { color:#820608; }
#colonnes_dr .col_recolte.col_inactive .col_cont .col_btn .col_btn { visibility:hidden; }
#colonnes_dr .col_recolte.col_inactive .col_masque { display:block; }
#colonnes_dr .col_recolte.col_focus .col_cont, #colonnes_dr .col_recolte.col_active .col_cont { border-color:#777777; }
#colonnes_dr .col_recolte.col_active .col_cont .col_btn { visibility:visible; }
#colonnes_dr .col_recolte.col_envoi .col_cont .col_btn { background:url(../images/visuels/ajax_loader.gif) center center no-repeat; }
#colonnes_dr .col_recolte.col_envoi .col_cont .col_btn button { visibility:hidden; }
#colonnes_dr .btn_ajouter {
  font-size:14px;
  height:22px;
  line-height:22px;
}
#declaratif_info .onglets_declaratif {
  line-height:23px;
  zoom:1;
  margin-top:15px;
}
#declaratif_info .onglets_declaratif:before, #declaratif_info .onglets_declaratif:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#declaratif_info .onglets_declaratif:after { clear:both; }
#declaratif_info .onglets_declaratif li {
  background:#e9e9e9;
  float:left;
  margin:0 6px 0 0;
}
#declaratif_info .onglets_declaratif li.actif, #declaratif_info .onglets_declaratif li a:hover, #declaratif_info .onglets_declaratif li a:focus {
  background:#820608;
  color:#ffffff;
}
#declaratif_info .onglets_declaratif li.actif strong, #declaratif_info .onglets_declaratif li a:hover strong, #declaratif_info .onglets_declaratif li a:focus strong { font-weight:normal; }
#declaratif_info .onglets_declaratif li a, #declaratif_info .onglets_declaratif li strong {
  float:left;
  padding:0 15px;
}
#declaratif_info .onglets_declaratif li a:hover { text-decoration:none; }
#declaratif_info .onglets_declaratif li .completion {
  color:#ff9f00;
  font-weight:bold;
  margin:0 0 0 5px;
}
#declaratif_info .onglets_declaratif li .completion.completion_validee { color:#b1cb00; }
#declaratif_info .onglets_declaratif li.ajouter {
  background:0;
  margin:0 0 0 10px;
}
#declaratif_info .onglets_declaratif li.ajouter a {
  background:url(../images/pictos/pi_ajouter.png) 0 center no-repeat;
  color:#494949;
  font-weight:bold;
  height:23px;
  padding:0 0 0 15px;
}
#declaratif_info .onglets_declaratif li.ajouter a:hover, #declaratif_info .onglets_declaratif li.ajouter a:focus { text-decoration:underline; }
#declaratif_info .contenu_onglet_declaratif {
  background:#f1f1f1;
  border:1px solid #e9e9e9;
  margin:0 0 15px;
  padding:18px;
}
#declaratif_info .contenu_onglet_declaratif .notice {
  background:#ffffff;
  border:1px solid #dbdbdb;
  margin:0 0 15px;
  padding:15px;
  zoom:1;
}
#declaratif_info .contenu_onglet_declaratif .notice:before, #declaratif_info .contenu_onglet_declaratif .notice:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#declaratif_info .contenu_onglet_declaratif .notice:after { clear:both; }
#declaratif_info .contenu_onglet_declaratif .notice h2, #declaratif_info .contenu_onglet_declaratif .notice ul li { margin:0 0 10px; }
#declaratif_info .contenu_onglet_declaratif .notice kbd {
  background:#ffffff;
  border:1px solid #dbdbdb;
  border-width:1px 2px 2px 1px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  padding:3px;
  vertical-align:middle;
}
#declaratif_info .contenu_onglet_declaratif.alignes { padding-left:249px; }
#declaratif_info .contenu_onglet_declaratif .col {
  display:inline-block;
  text-align:left;
  vertical-align:top;
  width:235px;
}
.ielt8 #declaratif_info .contenu_onglet_declaratif .col {
  display:inline;
  zoom:1;
}
#declaratif_info .contenu_onglet_declaratif .col .ligne_form label {
  display:inline-block;
  vertical-align:top;
  max-width:209px;
}
#declaratif_info .contenu_onglet_declaratif h3 { margin-left:235px; }
#declaratif_info .contenu_onglet_declaratif .ligne_form { margin:10px 0; }
#declaratif_info .contenu_onglet_declaratif .ligne_form input[type="text"] { margin:0 20px; }
#declaratif_info .contenu_onglet_declaratif .ligne_form.ligne_entiere { margin-top:15px; }
#declaratif_info .contenu_onglet_declaratif .ligne_form.ligne_entiere label { margin-left:235px; }
#declaratif_info .contenu_onglet_declaratif .ligne_form.ligne_entiere input[type="text"] { margin-left:48px; }
#declaratif_info .contenu_onglet_declaratif .ligne_form.ligne_entiere.ecart_check input[type="checkbox"] { margin-left:237px; }
#declaratif_info .contenu_onglet_declaratif .ligne_form.ligne_entiere.ecart_check label { margin-left:20px; }
#declaratif_info .contenu_onglet_declaratif .alignes { padding-left:249px; }
#declaratif_info .contenu_onglet_declaratif .champs_centres { margin-bottom:30px; }
#declaratif_info .contenu_onglet_declaratif .champs_centres .ligne_form { text-align:center; }
#declaratif_info .contenu_onglet_declaratif .champs_centres .error_list { text-align:left; }
#declaratif_info #btn_etape_dr .btn_suiv span { text-transform:uppercase; }
#declaratif_info .error_daa { float:left; }
#declaratif_info #organisme { display:none; }
#principal .btn_passer_etape {
  background-repeat:no-repeat;
  border:1px solid;
  color:#ffffff;
  display:inline-block;
  background-color:#a0a0a0;
  border-color:#c0c0c0;
  float:right;
  font-size:12px;
  font-weight:bold;
  line-height:20px;
  margin:0 0 0 15px;
  padding:0 23px 0 10px;
  text-transform:uppercase;
}
#principal .btn_passer_etape:hover, #principal .btn_passer_etape:focus { background-color:#494949; }
#principal .btn_passer_etape:hover { text-decoration:none; }
#btn_etape_dr {
  position:relative;
  text-transform:uppercase;
  zoom:1;
}
#btn_etape_dr:before, #btn_etape_dr:after {
  content:"\0020";
  display:block;
  font-size:0;
  height:0;
  visibility:hidden;
}
#btn_etape_dr:after { clear:both; }
.inactif { visibility:hidden; }
#saving_notification, #error_notification { z-index:999; }
