@charset "utf-8";

/**
 * Fichier : declaration_recolte.css
 * Description : styles spécifiques à la déclaration de récolte
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/**
 * Structure
 ******************************************/
#contenu
{
    padding: 30px 0;
    position: relative;
}

#principal { }

#application_dr
{
    background: #f1f1f1;
    clear: both;
    margin: 0 0 22px;
    padding: 30px 20px;
}

/**
 * Eléménts génériques
 ******************************************/
/* Sections */
.intro_declaration
{
    clear: both;
    color: #666;
    font-size: 14px;
    margin: -15px 0 10px;
}

.intro_declaration_recolte
{
    clear: both;
    color: #666;
    font-size: 14px;
    margin: 0px 20px 10px;
}

.txt_gris
{
    color: #666;
    font-size: 14px;
    margin: 0px 0 10px;
}

.titre_principal
{
    background: #acb701;
    color: #f1f1f1;
    display: inline-block; !display: inline;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    margin: 0 0 0 20px;
    padding: 0 10px;
    zoom: 1;
}

.titre_section
{
    background: #dcdfa9;
    color: #848c03;
    display: inline-block; !display: inline;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    padding: 0 10px;
    zoom: 1;
}

.contenu_section
{
    background: #edecec;
    border: 1px solid #c7c9c8;
    padding: 15px;
}

.bloc_gris,
.bloc_vert { padding: 10px; }
.bloc_gris { background: #e0dfdf; }
.bloc_vert { background: #e0e1bd; }

input.readonly { background-color:#F0F0DE !important; color: black;}

/* Etapes de la déclaration */
ul#etape_declaration
{
    background: #f1f1f1;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #dcdcdc;
    color: #a8a8a8;
    font-size: 18px;
    margin: 0 0 -15px;
    padding: 4px 20px;
    position: relative;
    top: -30px;
}

ul#etape_declaration li
{
    float: left;
    margin: 0 1px 0 0;
    width: 133px;
}

ul#etape_declaration li a
{
    color: #a8a8a8;
    display: block;
}

ul#etape_declaration li.actif a { color: #000; text-decoration: none; }

ul#etape_declaration li a:hover { text-decoration: none; }
ul#etape_declaration li a:focus { text-decoration: none; }


ul#etape_declaration li em
{
    background: url(../images/fonds/bg_etapes_declaration.png) 0 0 repeat-x;
    color: #c8ce79;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin: 2px 0 0;
    padding: 6px 0 0;
}

ul#etape_declaration li.actif em
{
    background-position: 0 -26px;
    color: #ffb100;
}

ul#etape_declaration li.passe em { background-position: 0 -52px; }

/* Actions sur la déclaration */
ul#actions_declaration
{
    position: absolute;
    right: 15px;
    top: 18px;
    z-index: 100;
}

ul#actions_declaration li
{
    display: inline;
    float: left;
    margin: 0 0 0 10px;
}

ul#actions_declaration li.btn
{
    margin: -3px 0 0 10px;
}

/* Onglets */
ul#onglets_majeurs
{
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 0 20px;
    width: 958px;
}

ul#onglets_majeurs li
{
    float: left;
    margin: 0 3px 0 0;
    position: relative;
}

ul#onglets_majeurs li a
{
    background: #999;
    color: #fff;
    float: left;
    padding: 4px 15px;
    text-decoration: none;
}

ul#onglets_majeurs li.ui-tabs-selected a
{
    background: #acb701;
    color: #000;
    cursor: default;
}

ul#onglets_majeurs li.ui-tabs-selected a:hover { text-decoration: none; }
ul#onglets_majeurs li.ui-tabs-selected a span { cursor: default; }

ul#onglets_majeurs.onglets_recolte
{
    font-size: 13px;
    line-height: 1;
}

ul#onglets_majeurs.onglets_recolte li a { padding: 2px 15px 2px 5px; }

ul#onglets_majeurs.onglets_recolte li.ui-tabs-selected a
{
    background: #ffb52c;
    color: #000;
}

/*ul#onglets_majeurs.onglets_recolte li.ui-tabs-selected a span { color: #000; }*/

ul#onglets_majeurs.onglets_recolte li.ajouter a
{
    background: #666 url(../images/pictos/pi_ajout.png) 10px center no-repeat;
    padding-left: 30px;
}

ul#onglets_majeurs li.ui-tabs-selected ul.sous_onglets
{
    left: 0;
    position: absolute;
    top: 30px;
    width: 850px;
    z-index: 100;
}

ul#onglets_majeurs li.ui-tabs-selected ul.sous_onglets li
{
    margin: 0 2px 0 0;
    padding: 2px 0 0;
}

ul#onglets_majeurs li.ui-tabs-selected ul.sous_onglets li.premier { background: url(../images/fonds/bg_sous_onglet_actif.png) -3px 0 no-repeat; }

ul#onglets_majeurs li.ui-tabs-selected ul.sous_onglets li a
{
    background-color: #d8d8d8;
    color: #666;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

ul#onglets_majeurs li.ui-tabs-selected ul.sous_onglets li.premier a { background: #d8d8d8 url(../images/fonds/bg_sous_onglet_actif.png) 6px -2px no-repeat; }

ul#onglets_majeurs li.ui-tabs-selected ul.sous_onglets li.ui-tabs-selected a
{
    background-color: #ffd589;
    cursor: default;
}

/* Boutons précédent / suivant  */
ul.btn_prev_suiv { clear: both; }
ul.btn_prev_suiv li { display: inline; }
ul.btn_prev_suiv li.prec { float: left; }
ul.btn_prev_suiv li.suiv { float: right; }
ul.btn_prev_suiv li.previsualiser { float: left; margin: 0 0 0 308px; }
ul.btn_prev_suiv li.previsualiser a.msg_aide{ margin:-27px 0 0 5px; }
ul.btn_prev_suiv li img { display: block; }
ul#btn_etape { padding: 0 20px; }
ul#btn_appelation { padding: 30px 60px 0; }
ul#btn_cepage { padding: 10px 0; }
ul#btn_appelation li.previsualiser { margin: 0 0 0 368px; }

/* Tableau de données */
table.table_donnees { }

table.autres_infos
{
    margin-top: 15px;
    width: 323px;
}

td.premiere_colonne { width: 202px; }

table.table_donnees thead th
{
    color: #acb701;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

table.table_donnees thead th:first-child,
table.table_donnees thead th.cvi,
table.table_donnees thead th.cvi span
{
    color: #848c03 !important;
    font-size: 16px !important;
    font-weight: normal !important;
}

table.table_donnees tbody td.cvi,
table.table_donnees thead th.cvi { width: 70px; }

table.table_donnees thead th.commune,
table.table_donnees tbody td.commune { width: 110px; }

table.table_donnees thead th:first-child
{
    background: #dcdfa9;
    vertical-align: middle;
    padding: 0;
    width: 155px;
}

table.table_donnees thead th span
{
    color: #000;
    display: block;
    font-weight: bold;
}

table.table_donnees tbody td
{
    background: #edecec;
    border-bottom: 1px dashed #c6c8c7;
    color: #666;
    font-size: 12px;
    line-height: 17px;
    padding: 3px;
    text-align: left;
    vertical-align: middle;
}

table.table_donnees tbody td.alt { background: #ddd; }
table.table_donnees tbody tr:first-child td,
table.table_donnees tbody tr.premier td { border-top: 1px solid #c6c8c7; }
table.table_donnees tbody td:first-child { border-left: 1px solid #c6c8c7; }
table.table_donnees tbody td:last-child { border-right: 1px solid #c6c8c7; }
table.table_donnees tbody tr:last-child td { border-bottom: 1px solid #c6c8c7; }

table.table_donnees tbody td input[type=text]
{
    background: #f6f6f6;
    border: 1px solid #c2c1ba;
    color: #7a7a7a;
    font-size: 12px;
}

table.table_donnees tbody td.alt input { background: #efeeee; }
table.table_donnees tbody td.nom input { width: 313px; }
table.table_donnees tbody td.cvi input { width: 58px; }
table.table_donnees tbody td.commune input { width: 108px; }
table.table_donnees tbody td a.supprimer { position: absolute; right: -20px; }
table.table_donnees tbody td label { display: block; }
table.table_donnees tbody td span
{
    min-height: 17px; !height: 17px;
}

/* Erreurs */
ul.error_list
{
    background: #ffdddd;
    border: 1px solid #f30;
    clear: both;
    color: #000;
    font-size: 12px;
    margin: 0 0 10px;
    padding: 5px;
}

ul.error_list li { margin: 3px 0; }

/* Messages logs */
.message
{
    background: #fffcef;
    border: 1px solid #f90;
    margin: 0 0 15px;
    padding: 10px 15px;
}

.message_erreur
{
    background: #FDD ;
    border: 1px solid #FF3300;
    margin: 0 0 15px;
    padding: 10px 15px;
}


.message ul.messages_log li
{
    background: url(../images/puces/bullet_noir.png) 0 5px no-repeat;
    margin: 5px 0;
    padding: 0 0 0 15px;
}

.message_title{
    padding: 0 10px;
    font-weight: bold;
    font-size: 14px;
}

.erreur select { border: 1px solid #FF3300 !important; }

a.btn_inactif
{
    cursor: default;
    outline: 0;
}

a.btn_inactif img
{
    cursor: default;
    opacity: 0.3;
    filter: Alpha(Opacity=30);
}

input.btn_inactif
{
    cursor: default;
    opacity: 0.3;
    filter: Alpha(Opacity=30);
}

/* Popup d'aide */
a.msg_aide
{
    background: url(../images/pictos/pi_aide.png) 0 0 no-repeat;
    display: inline-block;
    height: 17px;
    outline: 0;
    vertical-align: middle;
    width: 17px;
    opacity:0.5;
}

a.msg_aide:hover{
    opacity:1;
}

#popup_msg_aide { display: none;  }

#popup_msg_aide p
{
    background:url("../images/pictos/pi_aide.png") no-repeat scroll 0 0 transparent;
    color:#656565;
    font-size:15px;
    padding:0 10px 10px 25px;
    text-align:justify;
}

/**
 * Nouvelle déclaration
 ******************************************/
#nouvelle_declaration
{
    float: left;
    margin: 0 20px 0 0;
    width: 488px;
}

#nouvelle_declaration p.intro
{
    color: #666;
    font-size: 14px;
    margin: 0 0 10px;
}

#nouvelle_declaration .ligne_form { margin: 0 0 5px 25px; }
#nouvelle_declaration .ligne_form input[type=radio] { margin: 0 3px 0 0; }
#nouvelle_declaration .ligne_form label { font-size: 14px; }
#nouvelle_declaration .ligne_btn { margin: 15px 0 0 85px; }

.ligne_btn_retour{text-align: right;}

#nouvelle_declaration .ligne_btn select
{
    border: 1px solid #dadad6;
    color: #7a7a7a;
    float: left;
    font-size: 14px;
    vertical-align: middle;
}

#nouvelle_declaration .ligne_btn .btn
{
    float: right;
    margin-left:5px;
    vertical-align: middle;
}

/**
 * Précédentes déclarations
 ******************************************/
#precedentes_declarations
{
    float: left;
    width: 264px;
}

#precedentes_declarations p.intro
{
    color: #666;
    font-size: 14px;
    margin: 0 0 10px;
    text-align: justify;
}

#precedentes_declarations ul.ui-display-none { display: none; }
#precedentes_declarations ul { font-size: 15px; }
#precedentes_declarations ul li { margin: 0 0 10px; }
#precedentes_declarations ul li a
{
    background: url(../images/puces/puces_accordeon.png) -27px 0 no-repeat;
    display: inline-block;
    padding: 0 0 0 15px;
    outline: 0;
}

#precedentes_declarations ul li a.pdf
{
    background: url(../images/pictos/pi_pdf.png) 0 1px no-repeat;
}

#precedentes_declarations .pdf_link a{
    color: #666666;
    text-decoration: underline;
}

#precedentes_declarations .pdf_link a:hover{
    color: #000;
}

#precedentes_declarations ul li a.ui-state-active { background-position: -12px -16px; }

#precedentes_declarations ul ul
{
    font-size: 14px;
    padding: 3px 0 0 15px;
}

#precedentes_declarations ul ul li { margin: 0 0 3px; }
#precedentes_declarations ul ul li a { background-position: -8px -32px; }
#precedentes_declarations ul ul li a.ui-state-active { background-position: 0 -48px; }
#precedentes_declarations ul ul.declarations { font-size: 13px; }

#precedentes_declarations ul ul.declarations li a
{
    background: url(../images/pictos/pi_declaration_recolte.png) 0 center no-repeat;
    color: #666;
    padding: 0 0 0 20px;
}

/**
 * Exploitation administratif
 ******************************************/

#exploitation_administratif .modification .ligne_form { margin: 0 0 8px; }

#exploitation_administratif .modification .ligne_form label
{
    color: #666;
    display: block;
    font-size: 13px;
    line-height: 1;
    margin: 0 0 3px;
}

#exploitation_administratif .modification .erreur label { color: #f30; }

#exploitation_administratif .modification .ligne_form label span
{
    display: block;
    font-size: 11px;
    font-style: italic;
    margin: 3px 0 0;
}

#exploitation_administratif .modification .ligne_form input[type=text],
#exploitation_administratif .modification .ligne_form textarea
{
    background: #fff;
    border: 1px solid #cecdc9;
    color: #7a7a7a;
    font-size: 12px;
}

#exploitation_administratif .modification .erreur input[type=text],
#exploitation_administratif .modification .erreur textarea
{
    border-color: #f30;
    color: #f30;
}

#exploitation_administratif .modification .ligne_form input[type=text] { height: 15px; }

#exploitation_administratif .btnpd
{
    clear: both;
    padding: 10px 0 0;
    text-align: right;
}

#exploitation_administratif .btn a,
#exploitation_administratif .btn input
{
    display: inline-block;
    margin: 0 0 0 5px;
    vertical-align: baseline;
}

/* ****** Gestion des boutons faite dans l'action/template de l'administratif
#exploitation_administratif .btn a.annuler,
#exploitation_administratif .btn input,
#exploitation_administratif .edition .btn a.modifier { display: none; }
*/
#exploitation_administratif .edition .btn a.annuler,
#exploitation_administratif .edition .btn input { display: inline-block; }

/**
 * Informations exploitation
 ******************************************/
#infos_exploitation
{
    float: left;
    margin: 0 20px 0 0;
    width: 488px;
}

/* Colonne gauche */
#infos_exploitation .modification .col_1
{
    float: left;
    width: 215px;
}

#infos_exploitation .presentation .col_1
{       background:none repeat scroll 0 0 #E0E1BD;
        float: left;
        padding:10px 10px 0;
        width: 205px;
}

#infos_exploitation .col_1 p.num
{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px;
}

#infos_exploitation .col_1 p.num span
{
    color: #7a7a7a;
    font-weight: normal;
}

#infos_exploitation .col_1 p.rf
{
    background: #e0e1bd;
    color: #7a7a7a;
    font-size: 14px;
    padding: 10px;
}

/* Colonne droite */
#infos_exploitation .col_2
{
    float: right;
    width: 202px;
}

#infos_exploitation .col_2 h3
{
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 5px;
}

#infos_exploitation .col_2 address
{
    display: block;
    font-size: 16px;
    font-style: normal;
    margin: 0 0 15px;
}

#infos_exploitation .col_2 p
{
    display: inline-block;
    !display: inline;
    font-size: 15px;
    width: 49%;
    zoom: 1;
}

#infos_exploitation .col_2 p span
{
    color: #7a7a7a;
    display: block;
    font-size: 14px;
}

/* Modification infos */
#infos_exploitation .bloc_vert p
{
    color: #7a7a7a;
    float: left;
    font-size: 14px;
    width: 55%;
}

#infos_exploitation .bloc_vert ul
{
    float: left;
    width: 45%;
}

#infos_exploitation .bloc_vert ul li { margin: 0 0 7px; }

#infos_exploitation .bloc_vert ul li input[type=radio] { margin: 0 3px 0 0; }

#infos_exploitation .col_1 .ligne_form input[type=text],
#infos_exploitation .col_1 .ligne_form textarea { width: 195px; }

#infos_exploitation .col_2 .ligne_form input[type=text],
#infos_exploitation .col_2 .ligne_form textarea { width: 200px; }

/**
 * Gestionnaire de l'exploitation
 ******************************************/
#gestionnaire_exploitation
{
    float: left;
    width: 264px;
}

/* Présentation infos */
#gestionnaire_exploitation .presentation h3
{
    font-size: 21px;
    font-weight: bold;
    margin: 0 0 5px;
}

#gestionnaire_exploitation .presentation address
{
    display: block;
    font-size: 16px;
    font-style: normal;
    margin: 0 0 15px;
}

#gestionnaire_exploitation .presentation p
{
    font-size: 15px;
    margin: 0 0 10px;
}

#gestionnaire_exploitation .presentation p span
{
    color: #7a7a7a;
    display: block;
    font-size: 14px;
}

/* Modification infos */
#gestionnaire_exploitation .ligne_form input[type=text],
#gestionnaire_exploitation .ligne_form textarea { width: 210px; }

/**
 * Acheteurs de l'exploitation
 ******************************************/
#exploitation_acheteurs #acheteurs_raisin,
#exploitation_acheteurs #caves_cooperatives,
#exploitation_acheteurs #vol_sur_place,
#exploitation_acheteurs #acheteurs_mouts
{
    margin: 0 0 15px;
    position: relative;
    width: 950px;
    zoom: 1;
}

#exploitation_acheteurs select.source_autocompletion { display: none; }

#exploitation_acheteurs .table_donnees { margin: 0 0 7px; }

#exploitation_acheteurs table th { font-size: 11px; text-align: center;}
#exploitation_acheteurs table tbody td { text-align: center; }
#exploitation_acheteurs table tbody td.nom,
#exploitation_acheteurs table tbody td.cvi,
#exploitation_acheteurs table tbody td.commune { text-align: left; }
#exploitation_acheteurs table tbody td.add { display: none; }

#exploitation_acheteurs .btn
{
    overflow: hidden;
    width: 100%;
}

#exploitation_acheteurs .btn a,
#exploitation_acheteurs .btn input
{
    float: right;
    margin: 0 0 0 5px;
}

/**
 * Ajout d'acheteurs
 ******************************************/
#exploitation_acheteurs .form_ajout
{
    margin: -36px 0 15px;
    width: 950px;
}

#exploitation_acheteurs .form_ajout table thead { visibility: hidden; }

.ui-autocomplete .ui-menu-item a { overflow: hidden; }
.ui-autocomplete .ui-menu-item a span { float: left; }

.ui-autocomplete .ui-menu-item a span.nom
{
    padding: 0 3px 0 0;
    width: 121px;
}

.ui-autocomplete .ui-menu-item a span.cvi
{
    padding: 0 3px;
    width: 63px;
}

.ui-autocomplete .ui-menu-item a span.commune
{
    padding: 0 0 0 3px;
    width: 110px;
}

/**
 * Acheteurs de moults
 ******************************************/
#acheteurs_mouts { margin: 0; }
#acheteurs_mouts table th { visibility: hidden; }
#acheteurs_mouts table th:first-child,
#acheteurs_mouts table th.cvi,
#acheteurs_mouts table th.commune,
#acheteurs_mouts table th.cremant_alsace { visibility: visible; }

/**
 * Cave particulière
 ******************************************/
#vol_sur_place { }
#vol_sur_place table th { visibility: visible; }
#vol_sur_place table th.cvi span,
#vol_sur_place table th.commune span{ visibility: hidden; font-weight: normal; }

/**
 * Gestion grands crus
 ******************************************/
#gestion_grands_crus
{
    float: left;
    width: 400px;
}

#gestion_grands_crus ul#liste_grands_crus
{
    font-size: 13px;
    margin: 0 0 15px;
}

#gestion_grands_crus ul#liste_grands_crus li
{
    background:none repeat scroll 0 0 #E0DFDF;
    border-bottom:1px dashed #C6C8C7;
    font-size:14px;
    font-weight:bold;
    margin-bottom:3px;
    padding:5px;
    position:relative;
}

#gestion_grands_crus ul#liste_grands_crus li a.supprimer
{
    position:absolute;
    right:6px;
    top:6px;
}

#gestion_grands_crus .ligne_form { margin: 0; }

#gestion_grands_crus .ligne_form label
{
    color: #7a7a7a;
    font-size: 13px;
    float: left;
    line-height: 20px;
    margin: 0 10px 0 0;
}

#gestion_grands_crus .ligne_form select
{
    border: 1px solid #dadad6;
    color: #7a7a7a;
    float: left;
    font-size: 14px;
    vertical-align: middle;
}

#gestion_grands_crus .ligne_form input.btn
{
    float: right;
    vertical-align: middle;
}

/**
 * Autres exploitations
 ******************************************/
#vol_total_lies,
#jeunes_vignes
{
    clear: both;
    width: 488px;
}

#vol_total_lies { margin: 0 0 45px; }

#vol_total_lies input,
#jeunes_vignes input
{
    background: #f0f0de;
    border: 1px solid #c2c1ba;
    float: left;
    margin: 0 12px 0 0;
    vertical-align: middle;
    text-align: right;
    width: 120px;
}

#vol_total_lies label,
#jeunes_vignes label
{
    float: left;
    font-size: 14px;
}

/**
 * Gestion de récolte
 ******************************************/
/* Liste des sépages */
#gestion_recolte ul#liste_sepages
{
    float: left;
    font-size: 14px;
    position: relative;
    width: 106px;
    z-index: 10;
}

#gestion_recolte ul#liste_sepages li
{
    background: #E0DFDF;
    border: 1px solid #c6c6c6;
    margin: 0 0 2px;
    width: 105px;
}

#gestion_recolte ul#liste_sepages li.ui-tabs-selected
{
    background: #edecec;
    border-right-color: #edecec;
    font-weight: bold;
}

#gestion_recolte ul#liste_sepages li.recapitulatif
{
    font-weight: bold;
    margin-top: 18px;
}

#gestion_recolte ul#liste_sepages li a
{
    color: #666666;
    display: block;
    padding: 3px 5px;
    text-decoration: none;
}

#gestion_recolte ul#liste_sepages li.alerte a
{
    background: url(../images/pictos/pi_alerte.png) 90px center no-repeat;
    padding: 3px 10px 3px 5px;
}

#gestion_recolte ul#liste_sepages li.ui-tabs-selected a
{
    color: #848c03;
    cursor: default;
}

#gestion_recolte ul#liste_sepages li.ui-tabs-selected.recapitulatif a { color: #e78800; }

#gestion_recolte ul#liste_sepages li.ui-tabs-selected a span
{
    color: #000;
    cursor: default;
}

/* Récolte de sépage */
#gestion_recolte #donnees_recolte_sepage
{
    background: #edecec;
    border: 1px solid #c6c6c6;
    float: left;
    padding: 5px;
    width: 714px;
}

/* Colonne intitulés */
#gestion_recolte #colonne_intitules
{
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 17px;
    margin: 18px 10px 0 0;
    width: 185px;
}

#gestion_recolte #colonne_intitules .unites{
    font-size: 11px;
}

#gestion_recolte #colonne_intitules h3
{
    border-bottom: 1px dashed #b5b4b4;
    font-weight: normal;
    height: 17px;
    overflow: hidden;
    padding: 3px 0;
}

#gestion_recolte #colonne_intitules p,
#gestion_recolte #colonne_intitules ul
{
    background: #999;
    margin: 0 0 3px;
    overflow: hidden;
}

#gestion_recolte #colonne_intitules p { padding: 3px; }

#gestion_recolte #colonne_intitules ul { padding: 0 3px; }

#gestion_recolte #colonne_intitules ul li
{
    border-top: 1px dashed #b5b4b4;
    padding: 3px 0;
}

#gestion_recolte #colonne_intitules ul li:first-child { border: 0; }

#gestion_recolte #colonne_intitules .vente_raisins,
#gestion_recolte #colonne_intitules .caves,
#gestion_recolte #colonne_intitules .mouts
{
    background: #999;
    margin: 0 0 3px;
    padding: 3px 3px 0;
}

#gestion_recolte #colonne_intitules .vente_raisins ul,
#gestion_recolte #colonne_intitules .caves ul,
#gestion_recolte #colonne_intitules .mouts ul
{
    margin: 0 0 0 10px;
    font-size: 12px;
    padding: 0;
}

#gestion_recolte #colonne_intitules .vente_raisins ul li,
#gestion_recolte #colonne_intitules .caves ul li,
#gestion_recolte #colonne_intitules .mouts ul li
{
    background: url(../images/puces/liste_tiret.png) 0 10px no-repeat;
    padding-left: 8px;
}

#gestion_recolte #colonne_intitules .vol_place,
#gestion_recolte #colonne_intitules .vol_revendique_dplc { margin-top: 25px; }

#gestion_recolte span.ombre
{
    background: url(../images/fonds/bg_ombre_scroll.png) 0 0 repeat-y;
    float: left;
    left: 10px; !left: 0;
    margin-left: -10px;
    position: relative;
    width: 10px;
    z-index: 200;

}

#gestion_recolte span.ombre_droite
{
    background-image: url(../images/fonds/bg_ombre_scroll_droite.png);
    left: 0;
}

/* Colonnes de déclaration */
#col_scroller_cont 
{
    padding-right: 10px;
    overflow: hidden;
    position: relative;
    zoom: 1;
}

#gestion_recolte #col_scroller
{
    float: left;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 10px 15px;
    width: 380px;
    position: relative;
    zoom: 1;
}

#gestion_recolte .col_recolte
{
    float: left;
    display: inline;
    margin: 0 10px 0 0;
    position: relative;
    width: 108px;
}

#gestion_recolte #col_scroller .col_recolte h2
{
    background: #acb701;
    color: #fff;
    zoom: 1;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
}

#gestion_recolte .col_recolte .col_cont
{
    background: #e0e1bd;
    padding: 0 4px;
}

#gestion_recolte .col_recolte p,
#gestion_recolte .col_recolte ul { margin: 0 0 3px; }
#gestion_recolte .col_recolte p { padding: 3px 0; }
#gestion_recolte .col_recolte ul li { padding: 4px 0 3px; }
#gestion_recolte .col_recolte ul li:first-child { padding-top: 3px; }

#gestion_recolte .col_recolte .vente_raisins,
#gestion_recolte .col_recolte .caves,
#gestion_recolte .col_recolte .mouts
{
    margin: 0 0 3px;
    padding: 27px 0 0;
    position: relative;
}

#gestion_recolte .col_recolte .vol_place,
#gestion_recolte .col_recolte .vol_revendique_dplc { margin-top: 25px; }

#gestion_recolte .col_recolte .vol_total_recolte { position: relative; }

#gestion_recolte .col_recolte input,
#gestion_recolte .col_recolte select
{
    background: #fff;
    border: 1px solid #c2c1ba;
    font-size: 13px;
    text-align: right;
    width: 98px;
}

#gestion_recolte .col_recolte input
{
    padding: 0 5px;
    width: 88px;
}

#gestion_recolte .col_recolte input.num_alerte
{
    padding: 0 10px 0 5px;
    background-image: url(../images/pictos/pi_fleche_droite.png);
    background-position: right center;
    background-repeat: no-repeat;
    width: 83px;
}

#gestion_recolte #col_scroller .col_validee input,
#gestion_recolte #col_scroller .col_validee select { background-color: #f0f0de; }

#gestion_recolte .col_recolte input.alerte
{
    background-image: url(../images/pictos/pi_alerte.png);
    background-position: 2px center;
    background-repeat: no-repeat;
    padding: 0 5px;
    width: 88px;
}

#gestion_recolte .col_recolte .vol_total_recolte input,
#gestion_recolte .col_validee .vol_total_recolte input
{
    background: #acb701;
    border-color: #cecebb;
    font-weight: bold;
}

#gestion_recolte #col_scroller .col_recolte a.ajout
{
    background: url(../images/puces/puce_plus.png) 0 4px no-repeat;
    bottom: -28px;
    height: 30px;
    font-size: 10px;
    padding: 0 0 0 8px;
    position: absolute;
    right: 0;
    text-decoration: underline;
    z-index: 100;
}

#gestion_recolte #col_scroller .col_recolte a.ajout_lien { background: url(../images/puces/puce_lien.png) 0 4px no-repeat !important; }
#gestion_recolte #col_scroller .col_recolte a.ajout:hover { text-decoration: none; }
#gestion_recolte #col_scroller .col_validee a.ajout { display: none; }
#gestion_recolte #col_scroller .col_active a.ajout_motif { display: none; }
#gestion_recolte #col_scroller .col_validee a.ajout_motif { display: inline; }

#gestion_recolte #col_scroller .col_recolte .col_btn
{
    background: #e0e1bd;
    padding: 4px;
    zoom: 1;
}

#gestion_recolte #col_scroller .col_active .col_btn a.supprimer,
#gestion_recolte #col_scroller .col_active .col_btn a.modifier,
#gestion_recolte #col_scroller .col_validee .col_btn a.annuler,
#gestion_recolte #col_scroller .col_validee .col_btn a.valider { display: none; }

#gestion_recolte #col_scroller .col_active .col_btn input {
    width: auto;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}

#gestion_recolte #col_scroller a#ajout_col
{
    float: left;
    margin: 18px 0 0;
    outline: 0;
}

#gestion_recolte #col_scroller a#ajout_col.inactif
{
    cursor: default;
    opacity: 0.3;
    filter: Alpha(Opacity=30);
}

#gestion_recolte #col_scroller a#ajout_col.inactif img { cursor: default; }

/* Récolte totale appelation */
#gestion_recolte .col_total
{
    float: right;
    margin: 18px 0 0;
    position: relative;
    width: 108px;
}

#gestion_recolte #col_recolte_totale { margin-top: 24px; }

#gestion_recolte .col_total p.denomination,
#gestion_recolte .col_total p.mention { visibility: hidden; }

#gestion_recolte #col_sepage_total,
#gestion_recolte #col_sepage_total .col_cont,
#gestion_recolte #col_sepage_total .vol_total_recolte input { background: #acb701; }

#gestion_recolte #col_recolte_totale,
#gestion_recolte #col_recolte_totale .col_cont,
#gestion_recolte #col_recolte_totale .vol_total_recolte input { background: #ffa913; }

#gestion_recolte .col_total h2
{
    font-size: 16px;
    font-weight: normal;
    left: 0;
    line-height: 1;
    padding: 4px 4px 0;
    position: absolute;
    top: 0;
    z-index: 200;
}

#gestion_recolte .col_total .vol_revendique_dplc
{
    margin-top: 3px;
    padding: 22px 0 0;
    position: relative;
    white-space:nowrap;
}

#gestion_recolte .col_total .vol_revendique_dplc .rendement
{
    font-size: 10px;
    position: absolute;
    top: 0;
    padding: 0;
}

#gestion_recolte .col_total .vol_revendique_dplc .alerte{
    color: #bc0d0d;
}



#gestion_recolte .col_total .vol_revendique_dplc .rendement strong { font-size: 14px; }

/**
 * Récapitualtif des ventes
 ******************************************/
#gestion_recolte #donnees_recolte_sepage.recapitualtif
{
    padding: 25px 35px;
    width: 750px;
}

#gestion_recolte #donnees_recolte_sepage.recapitualtif p.intro
{
    font-size: 13px;
    margin: 0 0 20px;
}


#gestion_recolte #donnees_recolte_sepage.recapitualtif .titre_section
{
    background: #ffb52c;
    color: #000;
}

/* Total appelation */
#gestion_recolte #total_appelation
{
    margin: 0 0 15px;
    width: 350px;
}

#gestion_recolte #total_appelation table tbody td { color: #000; width:200px;}

#gestion_recolte #total_appelation table tbody td.valeur
{
    color: #9fac01;
    font-weight: bold;
    text-align: center;
    width: 140px;
}

/* Récapitulatif des ventes */
#gestion_recolte #recap_ventes table { margin: 0 0 15px; }

#gestion_recolte #recap_ventes table thead th { }

#gestion_recolte #recap_ventes table tbody td.nom small
{
    font-size: 10px;
    font-style: italic;
}

#gestion_recolte #recap_ventes table tbody td.superficie
{
    color: #000;
    font-weight: bold;
}

#gestion_recolte #recap_ventes table tbody td.superficie input,
#gestion_recolte #recap_ventes table tbody td.dplc input { width: 63px; }

#gestion_recolte #recap_ventes .btn { text-align: right; }

/**
 * Validation Acheteurs et caves
 ******************************************/
#acheteurs_caves #acheteurs_raisin { margin: 0 0 50px; }
#acheteurs_caves #acheteurs_raisin,
#acheteurs_caves #caves_cooperatives { width: 710px; }
#acheteurs_caves table tbody td { padding: 5px 3px; }

/**
 * Validation Appelation
 ******************************************/
#recolte_totale #appelations
{
    float: left;
    margin: 0 7px 0 0;
}

#recolte_totale #appelations table thead th { font-size: 11px; }
#recolte_totale #appelations table thead th:first-child { width: auto; }

/**
 * Validation Total général
 ******************************************/
#recolte_totale #total_general
{
    float: left;
    width: 120px;
}

#recolte_totale #total_general h2 { line-height: 28px; }

#recolte_totale #total_general ul
{
    padding: 1px 15px 2px;
    line-height: 1;
}

#recolte_totale #total_general ul li { padding: 3px 0; }

#recolte_totale #total_general ul li input
{
    background: #fff;
    border: 1px solid #dadad6;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    text-align: center;
    width: 86px;
}

/**
 * Vin de table
 ******************************************/
#recolte_totale #vin_table
{
    float: right;
    width: 90px;
}

#recolte_totale #vin_table h2
{
    color: #000;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
}

#recolte_totale #vin_table ul
{
    background: #ddd;
    border: 1px solid #C6C8C7;
    color: #7a7a7a;
    padding: 0 4px;
}

#recolte_totale #vin_table ul li
{
    border-top: 1px dashed #C6C8C7;
    line-height: 17px;
    padding: 3px 8px;
}

#recolte_totale #vin_table ul li:first-child { border: 0; }

/**
 * Récapitulatif autres récoltes
 ******************************************/

#recolte_totale #recap_autres
{
    clear: both;
    margin: 0 0 15px;
    position: relative;
    top: 15px;
    width: 295px;
}

#recolte_totale #recap_autres table tbody td { width: 50%; }

/**
 * Confirmation fin de la déclaration
 ******************************************/
#confirmation_fin_declaration { width: 536px; }

#confirmation_fin_declaration p.important
{
    color: #acb701;
    font-size: 16px;
    margin: 0 0 5px;
}

#div-btn-email{
    margin:14px 0 30px;
}

#btn-email{
    background: url(../images/boutons/btn-recevoir-ma-dr-par-email.png);
    display: block;
    float:right;
    width: 155px;
    height: 19px;
}


/**
 * Popup d'ajout
 ******************************************/
.popup_ajout { display: none; }

.popup_ajout label
{
    color: #929292;
    display: block;
    font-size: 15px;
    margin: 0 0 15px;
}

.popup_ajout input,
.popup_ajout select
{
    margin: 0 0 0 15px;
    vertical-align: top;
}

.popup_ajout input[type=text]
{
    background: #fff;
    border: 1px solid #c2c1ba;
    color: #7a7a7a;
    font-size: 14px;
    width: 200px;
}

.popup_ajout select
{
    border: 1px solid #dadada;
    color: #7a7a7a;
    font-size: 14px;
    margin-bottom: 15px;
    width: 200px;
}

.popup_ajout select[disabled=disabled] { background: #f0f0de; }

.popup_ajout span.valider-loading
{
    background: transparent url('../css/jquery.ui/images/ui-anim_basic_16x16.gif') center center no-repeat;
    width: 16px;
    height: 16px;
    margin: 4px 0 0 35px;
    vertical-align: top;
    display: none;
}

.popup_ajout .popup-loading.ui-autocomplete-loading
{
    background: transparent url('../css/jquery.ui/images/ui-anim_basic_16x16.gif') center center no-repeat;
    height: 93px;
    width: 100%;
}

.popup-loading
{
    background: transparent url("../css/jquery.ui/images/ui-anim_basic_16x16.gif") center 20px no-repeat;
    padding-top: 45px;
    width: 100%;
    text-align: center;
}

.popup-loading a{ color: #888; text-decoration: underline; }
.popup-loading a:hover, .popup-loading a:focus { color: #000 }

.telecharger-dr{
    background:url("../images/boutons/btn_telecharger_votre_dr.png") no-repeat scroll 0 0 transparent;
    display:block;
    height:19px;
    margin-left:115px;
    !margin-left:0px;
    width:130px;
}


/*.ui-autocomplete-loading {
    background: transparent url('../css/jquery.ui/images/ui-anim_basic_16x16.gif') center center no-repeat ; min-height: 93px; width: 100%; display: none;}*/

#nouvelle_declaration .ligne_form_label label
{
    float:left;
    width:125px;
}

/**
 * Mon compte
 ******************************************/
#modification_compte { width:488px; }

#modification_compte .presentation p
{
    font-size:18px;
    margin:0 0 10px;
}

#modification_compte p.intro
{
    color: #666;
    font-size:14px;
    margin:0 0 10px;
}

#modification_compte .presentation p span { color:#7A7A7A; }

#modification_compte .btn { float: right; }

#modification_compte .ligne_form { margin: 0 0 5px 25px; }
#modification_compte .ligne_form label { font-size: 14px; }

#modification_compte .ligne_form_label label
{
    float:left;
    width:110px;
}

#modification_compte .presentation .message
{
    background:none repeat scroll 0 0 #FFFCEF;
    border:1px solid #FF9900;
    margin:0 0 8px;
    padding:5px;
    font-size: 13px;
}

/**** Message aide ****/
.titre_tab a.msg_aide{
    float: right;
    margin: 5px 5px 0 0;
}

a.msg_aide{
    margin: -2px 0 0 5px;
}



/** popup rendements max **/

#popup_rendements_max .appellation{
    background:none repeat scroll 0 0 #999;
    border-bottom:1px dashed #C6C8C7;
    font-size:13px;
    padding:5px;
}

#popup_rendements_max .appellation, #popup_rendements_max .rendement{
    font-weight: bold;
}

#popup_rendements_max table{
    margin-bottom: 5px;
}

#popup_rendements_max td{
    font-size: 13px;
    padding: 3px;
}

#popup_rendements_max .cepage{
    width:350px;
    padding-left: 15px;
    background: #E0DFDF;

}
#popup_rendements_max .rendement{
    width:100px;
    background: #E0DFDF;
}

#popup_rendements_max .vide{
    padding: 0;
    background: none;
}

.close_btn {
    bottom:21px;
    position:absolute;
    right:22px;
}

.picto_rdt_aide_col_total{
    position:absolute;
    left: 78px;
    z-index: 500;
    zoom: 1;
}


/** popup voir les DR prec **/

#popup_dr_precedentes ul
{
    font-size: 14px;
    padding: 3px 0 0 15px;
}

#popup_dr_precedentes ul li { margin: 0 0 3px; }
#popup_dr_precedentes ul li a { background-position: -8px -32px; }
#popup_dr_precedentes ul li a.ui-state-active { background-position: 0 -48px; }
#popup_dr_precedentes ul.declarations { font-size: 13px; }

#popup_dr_precedentes ul.declarations li a
{
    background: url(../images/pictos/pi_declaration_recolte.png) 0 center no-repeat;
    color: #666;
    padding: 0 0 0 20px;
}

/** popup confirme validation **/

#popup_confirme_validation #btns{
    margin-top:15px;
    text-align:center;
}

/** pages statiques **/
.pages-statiques p{
    margin-bottom: 10px;
}

.pages-statiques p a.picto{
    background: url(../images/puces/puces_accordeon.png) -27px 0 no-repeat;
    display: inline-block;
    padding: 0 0 0 15px;
    outline: 0;
    margin-top: 10px;
    text-decoration: underline;
}


.pages-statiques h3{
    margin: 15px 0   ;
    font-size: 15px;
    text-decoration: underline;
}

.msg_mon_espace_civa{
    margin:15px 0 0 0 !important;
}

.popup_inscription_gamma {
    display: none;
}

.popup_inscription_gamma #popup_inscription_gamma_content {
   padding: 0 10px 5px 10px;
}

.popup_inscription_gamma p.warning {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    text-align: center;
}

.popup_inscription_gamma p {
    color: #000;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.popup_inscription_gamma p.intro {
    color: #666;
}

.popup_inscription_gamma label {
    color: #000;
    font-size: 14px;
    float:left;
    width: 30px;
    padding: 0 0 0 10px;
}

.popup_inscription_gamma .ligne_form {
    margin: 0 0 8px 0;
}

.popup_inscription_gamma .ligne_form.ligne_btn {
    margin: 15px 0 0 0;
}

.popup_inscription_gamma .ligne_form.ligne_btn input{
    float:right;
}

.popup_inscription_gamma input.check_choix{
    float:left;
}


.popup_inscription_gamma span {
    font-size: 14px;
    float:left;
    width: 269px;
    padding: 0 0 0 20px;
    color: #666;
}

.popup_inscription_gamma a.telecharger-documentation-gamma{
    background:url("../images/boutons/btn_adhesion_gamma.png") no-repeat scroll 0 0 transparent;
    display:inline;
    height:19px;
    width:192px;
    float: left;
    margin: 5px 0 0 74px;
}
