@charset "utf-8";
/**
 * Fichier : global.css
 * Description : styles génériques du site
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/**
 * Reset
 ******************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video
{
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
} 

html, body { height: 100%; }
a img, fieldset { border: 0; }
a *, label, button, input[type=image], input[type=button], input[type=submit] { cursor: pointer; }
ol { list-style-position: inside; }
ul { list-style: none; }
strong { font-weight: bold; }
em { font-style: italic; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
table { border-collapse: collapse; border-spacing: 0; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
hr { border: 0; border-top: 1px solid #ccc; display: block; height: 1px; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

article, aside, figure, footer, header, 
hgroup, nav, section { display: block; }

/**
 * Eléments génériques
 ******************************************/
html
{
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}

body { }
 
a { color: #000; text-decoration: none; }
a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

textarea, input, select { font: 12px Calibri, Arial, Verdana, Geneva, sans-serif; }

input[type=search] { -webkit-appearance: none; }
input[type="radio"] { height: 14px; vertical-align: text-bottom; width: 14px; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

button { background: 0; border: 0; font-family: Calibri, Arial, Verdana, Geneva, sans-serif; margin: 0; outline: 0; overflow: visible; padding: 0; }
button::-moz-focus-inner { border: 0; padding: 0; }
button span { position: relative; !margin: -1px 0 -2px; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }

pre
{ 
	padding: 15px;
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

/**
 * Classes génériques
 ******************************************/
.invisible
{    
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/* Divers */
.masque
{
    background: 0 !important;
    border: 0 !important;
    display: block !important;
    float: none !important;
    height: 1px !important;
    list-style: none !important;
    margin: -1px 0 0 -1px !important;
    position: absolute !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 1px !important;
}

.clear { clear: both; }
.center { text-align: center; }
.f_left { display: inline; float: left; }
.f_right { display: inline; float: right; }

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after
{
	content: "\0020";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden; 
}

.clearfix:after { clear: both; }


/**
 * Structure générique
 ******************************************/
body
{
	background: #fff url(../images/fonds/bg_body.jpg) center 0 no-repeat;
	font-family: Calibri, Arial, Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

#global
{
	margin: 0 auto;
	width: 940px;
}

#header
{
}

#contenu
{
	background: #f8f8f8;
	padding: 30px 30px 70px;
}

#principal
{
}

#colonne
{
}

#footer
{
}

/**
 * Header
 ******************************************/
#header
{
}

#header img
{
	display: block;
}


/**
 * Footer
 ******************************************/
#footer
{
}

#footer img
{
	display: block;
}
