@charset "utf-8";
/**
 * Fichier : global.css
 * Description : styles génériques du site
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/**
 * Reset
 ******************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video
{
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
} 

html, body { height: 100%; }
a img, fieldset { border: 0; }
a *, label, button, input[type=image], input[type=button], input[type=submit] { cursor: pointer; }
ol { list-style-position: inside; }
ul { list-style: none; }
strong { font-weight: bold; }
em { font-style: italic; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
table { border-collapse: collapse; border-spacing: 0; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
hr { border: 0; .border-top(#ccc); display: block; height: 1px; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

article, aside, figure, footer, header, 
hgroup, nav, section { display: block; }


/**
 * jQuery Autocomplete
 ******************************************/

.ui-autocomplete { .box-shadow(0 2px 10px #ccc); .border-radius(0); background: #fff; border: 1px solid #d3d2cd; max-height: 300px; overflow-y: auto; overflow-x: hidden; position: absolute; width: 250px; }
.ui-autocomplete .ui-menu-item a { background: #fff; color: @couleur-a1; cursor: pointer; display: block; padding: 2px; text-decoration: none; }
.ui-autocomplete .ui-menu-item a.ui-state-hover,
.ui-autocomplete .ui-menu-item a.ui-state-active { background: #E9E9E9; border: 0; }
.button-autocomplete.ui-state-disabled { opacity: 0.5; -moz-opacity: 0.5; filter:alpha(opacity=5); background: #fff; };
.ui-autocomplete-loading { background: #fff url('../images/pictos/pi_loader.gif') right center no-repeat !important; }


input.ui-autocomplete-input
{
	.box-shadow(none);
	.border-radius(0);
	background: #fff;
	border: 1px solid #d3d2cd;
	font-size: 12px;
	vertical-align: top;

	height: 20px;
	padding: 0 4px;
	width: 190px;

	&[disabled] { background: @couleur-a5; }
	
	.ielt9 &
	{
		height: 18px;
		padding-top: 2px;
	}

	& + button
	{
		background: #fff;
		border: 1px solid #d3d2cd;
		border-left: 0;
		vertical-align: top;
        !margin-top:1px;
	
		&:hover { background-color: #E9E9E9; }
	
		.ui-icon
		{
			background: url(../images/pictos/pi_desc.png) center center no-repeat;
			height: 20px;
            !height : 16px;
			width: 20px;				
		}
	}
}

a.remove_autocomplete
{
	.border-radius(0 4px 4px 0);
	background: #fff url(../images/pictos/pi_supprimer.png) center center no-repeat;
	border: 1px solid #d3d2cd;
	border-left: 0;
	display: inline-block;
	height: 20px;
	width: 20px;
	text-indent: -9999px;
	vertical-align: top;

	&:hover { background-color: #E9E9E9; }
}

/**
 * Eléments génériques
 ******************************************/
html
{
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

textarea, input, select { font: 12px @ff-Calibri; }

input[type=search] { -webkit-appearance: none; }
input[type="radio"] { height: 14px; vertical-align: text-bottom; width: 14px; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

button { background: 0; border: 0; font-family: @ff-Calibri; margin: 0; outline: 0; overflow: visible; padding: 0; }
button::-moz-focus-inner { border: 0; padding: 0; }
button span { position: relative; }
.ielt8 button span { margin: -1px 0 -2px; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }



/**
 * Classes génériques
 ******************************************/
 
/* Messages d'erreur */
.error_list, .flash_error
{
	background: #fdd;
	.border(@couleur-b2);
	color: @couleur-b2;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 5px 10px;
} 

.flash_notice
{
	background: #ecfeea;
	.border(#359b02);
	color: #1e5204;
	font-weight: bold;
	margin: 0;
	padding: 5px 10px;
}

.vigilance_list, .flash_warning
{
	background: #fff1d9;
	.border(@couleur-d1);
	color: @couleur-d2;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 5px 10px;
}

/* Boutons */
.btn_ajouter
{
	background: url(../images/pictos/pi_ajouter.png) 0 center no-repeat;
	color: @couleur-a1;
	height: 23px;
	padding: 0 0 0 17px;
	
	&:hover, &:focus { text-decoration: underline; }
}
.btn_ajouter_sombre
{
    color: #fff;
}

.btn_ajouter_ligne_template
{
    .btn_ajouter;

    span { text-decoration: underline; }
}

.btn_edit
{
	background: url(../images/pictos/pi_edit.png) 0 center no-repeat;
	height: 9px;
	padding: 0 0 0 12px;
	
	&:hover, &:focus { text-decoration: underline; }
}

.btn_suppr
{
	background: url(../images/pictos/pi_supprimer.png) 0 center no-repeat;
	height: 13px;
	padding: 0 0 0 14px;
	
	&:hover, &:focus { text-decoration: underline; }

	.ielt8 & { height: 15px; }
}

.btn_ajouter.btn_chargement
{
    background-image: url(../images/pictos/pi_loader.gif);
    padding-left: 20px;
}

.btn_majeur
{
	background-repeat: no-repeat;
	border: 1px solid;
	color: #fff;
	display: inline-block;
	height: 26px;
	line-height: 26px;

	&:hover, &:focus { text-decoration: none; }
}

.btn_vert
{
	.btn_majeur;
	background-color: @couleur-c1;
	border-color: @couleur-c2;
	&:hover, &:focus { background-color: @couleur-c2; }
}

.btn_orange
{
	.btn_majeur;
	background-color: @couleur-d1;
	border-color: @couleur-d2;
	&:hover, &:focus { background-color: @couleur-d2; }
}

.btn_violet
{
	.btn_majeur;
	background-color: @couleur-b3;
	border-color: @couleur-b1;
	&:hover, &:focus { background-color: @couleur-b1; }
}

.btn_bordeaux
{
    .btn_majeur;
    @hauteur_btn: 21px;
    background: @couleur-b1 url(../images/fonds/bg_drm_actions.png) left top repeat-x;
    border: none;
    height: @hauteur_btn;
    
    span
    {
        background-image: url(../images/pictos/pi_drm_actions.png);
        background-repeat: no-repeat;
        display: inline-block;
        height: @hauteur_btn;
        padding: 0 5px 0 32px;
    }
}

.btn_rouge
{
	.btn_majeur;
	background-color: @couleur-b1;
	border-color: @couleur-b1;
	&:hover, &:focus { background-color: @couleur-b1; }
}

.btn_gris
{
	.btn_majeur;
	background-color: #a0a0a0;
	border-color: #c0c0c0;
	&:hover, &:focus { background-color: @couleur-a1; }
}


.btn_prec,
.btn_suiv
{
	background: url(../images/boutons/btn_majeur.png) 0 0 no-repeat;
	color: #fff;
	display: inline-block;
	font-size : 13px;
	line-height: 26px;

	&:hover { text-decoration: none; }

	span
	{
		background: url(../images/boutons/btn_majeur.png) 0 0 no-repeat;
		display: inline-block;
		line-height: 26px;
	}
}

button.btn_prec,
button.btn_prec span,
button.btn_suiv,
button.btn_suiv span { height: 26px; }


#btn_suiv_prec{
    clear:both; 
    height:20px
}

#btn_suiv_prec .btn_prec,
#btn_suiv_prec .btn_suiv
{
	background: url(../images/boutons/btn_majeur_gris.png);

	span
	{
		background: url(../images/boutons/btn_majeur_gris.png);
	}
}


.btn_prec
{
	background-position: 0 -52px !important;
	float: left;
	padding: 0 0 0 18px;

	span
	{
		background-position: right 0 !important;
		padding: 0 18px 0 10px;
	}
}

.btn_suiv
{
	background-position: right -52px !important;
	float: right;
	padding: 0 18px 0 0;

	span
	{
		background-position: 0 -26px !important;
		padding: 0 10px 0 18px;
	}
}

.btn_remise,
.btn_etape_prec,
.btn_etape_suiv
{
	color: @couleur-e2;
	display: inline-block;
	font: bold 14px/22px Calibri, Arial, sans-serif;
	height: 22px;
}


.btn_etape_prec,
.btn_etape_suiv
{
	background-image: url(../images/boutons/btn_etape.png);
	background-repeat: no-repeat;

	span{
		background-image: url(../images/boutons/btn_etape.png);
		background-repeat: no-repeat;
		display: inline-block;
	}
}

.btn_etape_prec
{
	background-position: right -66px;
	padding: 0 13px 0 0;

	span{
		background-position: 0 -44px;
		padding: 0 7px 0 37px;
	}
}

.btn_remise
{
	.border(@couleur-a6);
    background: @couleur-a1 url(../images/boutons/btn_supprimer.png) 7px center no-repeat;
    padding:0 5px 0 27px;
    text-transform: uppercase;
}

.btn_etape_suiv
{
	background-position: right -22px;
	padding:0 9px 0 0;

	span
	{
		background-position: 0 0;
		padding: 0 10px 0 41px;

		.ielt8 &
		{
			margin: 0;
			white-space: nowrap;
		}
	}
}

.btn_telecharger { .btn_violet; }

.lien_notice { font-size: 12px; }
 
a.msg_aide
{
	.opacite(0.5);
        background: url(../images/pictos/pi_aide.png) 0 0 no-repeat;
        display: inline-block;
        height: 17px;
        margin-top: -3px;
        outline: 0;
        vertical-align: middle;
        width: 17px;

        &:hover { .opacite(1); }
}

 
/* Divers */ 
.invisible
{    
	clip: rect(1px 1px 1px 1px); 
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.masque
{
    background: 0 !important;
    border: 0 !important;
    display: block !important;
    float: none !important;
    height: 1px !important;
    list-style: none !important;
    margin: -1px 0 0 -1px !important;
    position: absolute !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 1px !important;
}

.clear { clear: both; }
.center { text-align: center !important; }
.f_left { display: inline; float: left; }
.f_right { display: inline; float: right; }

.txt-rpl
{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.z1 { zoom: 1; }

.clearfix
{
	.z1;
	
	&:before,
	&:after
	{
		content: "\0020";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden; 
	}
	
	&:after { clear: both; }
}

.pie { behavior: url(../pie.htc); }

.inline-block-ie
{
	display: inline;
	.z1;
}


/**
 * Message IE6
 ******************************************/
#message_ie6
{
	background: #feefda;
	border: solid #f7941d;
	border-width: 1px 0;
	margin: 0 0 15px;
	
	.gabarit
	{
		background: url(../images/fonds/bg_message_ie6.png) 0 center no-repeat;
		height: 50px;
		padding: 10px 0 10px 70px;
		width: @largeur-site - 70;
	}
	
	p
	{
		font-size: 12px;
		strong
		{
			font-size: 12px;
			display: block;
			margin: 0 0 5px;
		}
	}
}
			
/**
 * Structure générique
 ******************************************/
body
{
	background: #989898;
	color: @couleur-a1;
	font-family: @ff-Calibri;
	font-size: 12px;
	line-height: 1.2;
}

a
{
	color: @couleur-a1;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

#global
{
	.gabarit;
}

#header
{
	.clearfix;
	margin: 0 0 10px;
}

#flash_message
{
	background: #fff;
	padding: 15px 20px 5px;
	.clearfix;
}

#global_content{
        .box-shadow(0 0 5px #666);
}

#contenu
{
	background: #fff;
	padding: 25px 20px 70px;
	.clearfix;

	#etablissement_archive
	{
		background: @couleur-a1;
		color: @couleur-e2;
		font-size: 16px;
		height: 30px;
		line-height: 30px;
		margin: 0 0 25px;
		text-align: center;
	}
	
	#principal
	{
		.clearfix;
	}
	
	&.gabarit_2
	{
		background: #fff url(../images/fonds/bg_contenu_2_cols.png) 620px 10px no-repeat;
		
		#principal
		{
			float: left;
			padding: 0 20px 0 0;
			width: 580px;
		}
		
		#colonne
		{
			float: left;
			padding: 0 0 0 25px;
			width: 275px;
		}
	}
}



#footer
{
	background: @couleur-a4 url(../images/fonds/bg_footer.png) 0 0 repeat-x;
	padding: 12px 20px;
	.clearfix;
}

/**
 * Header
 ******************************************/
#header
{
	/* Logo */
	#logo
	{
		margin: 0;
		padding: 25px 0 0;
				
		h1
		{
			margin: 0 0 12px;
			img {  }
		}
		
		p
		{
			color: #fff;
			font-size: 14px;
		}
	}
	
	/* Navigation */
	nav
	{
		float: right;
		font-size: 15px;
		font-weight: bold;
		line-height: 41px;
		text-transform: uppercase;
		
		li
		{
			background: url(../images/fonds/bg_nav_header.png) 0 0 repeat-x;
			border: 1px solid #fff;
			display: inline;
			float: left;
			margin: 0 0 0 18px;
			
			a
			{
				color: @couleur-b1;
				float: left;
				padding: 0 10px; 
				&:hover { text-decoration: none; }
			}
			
			&.profil
			{
				background:@couleur-b3;
				border-color: #5f0141;
				a { color: #fff; }
			}
                        
                        &.backend
                        {
                                background:#c582af;
                                border-color: #a55d8d;
                                a { color: @couleur-b3; }
                        }

		}
	}

	p.deconnexion
	{
		font-size: 13px;
		font-style: italic;
		text-align: right;
	
		a
		{
			color: #fff;
			text-decoration: underline;
			&:hover { text-decoration: none; }
		}

                a.backend_link
                {
                        color: @couleur-b1;
                }
	}

        

        
}


/**
 * Barre de navigation
 ******************************************/
#barre_navigation
{
	background: #f1f1f1;
	border-bottom: 1px solid #e1e1e0;
	padding: 4px 4px 0;
	.clearfix;
	
	a:hover { text-decoration: none; }
	
	#nav_principale
	{
		float: left;
		line-height: 35px;
		font-size: 14px;
		margin: 0 0 -10px;
		top: -10px;
		position: relative;
		text-align: center;
		
		li
		{
			float: left;
			margin: 0 4px 0 0;
			
			a
			{
				color: @couleur-a1;
				float: left;
				padding: 5px 15px 0 20px;
			}
			
			&.actif { font-weight: bold; }
			
			&.actif a,
			a:hover,
			a:focus
			{
				background: url(../images/fonds/bg_nav_principale.png) left 0 no-repeat;
				color: #fff;
			}
		}
	}
	
	#actions_etablissement
	{
		float: right;
		line-height: 27px;
		
		li
		{
			display: inline;
			float: left;

                        &.backend
                        {
                                background: #c582af;
                                border: 1px solid #a55d8d;
                                a { color: @couleur-b3; }
                                height : 25px;
                                line-height: 25px;
                                padding: 0 10px;
                        }

			&.etablissement_courant
			{
				a
				{
					background: url(../images/boutons/btn_etablissement_courant.png) right 0 no-repeat;
					padding: 0 20px 0 0;
					
					span
					{
						background: url(../images/boutons/btn_etablissement_courant.png) 0 0 no-repeat;
						float: left;
						padding: 0 0 0 27px;
					}
				}
			}
			
			&.quitter { margin-right: -10px; }
			
			a
			{
				color: #fff;
				float: left;
			}
			
			img { display: block; }
		}

                .popup_form
                {
                        position: relative;
                        right: 3px;
                        top: 3px;

                        button, input{
                            margin-top : 2px;
                        }
                }

	}
}

/**
 * Barre sub nav
 ******************************************/
#barre_sub_navigation
{
	background: #f1f1f1;
	border-bottom: 1px solid #e1e1e0;
	line-height: 30px;
	font-weight: bold;
	padding: 0 15px;
	.clearfix;

	ul
	{
		li
		{
			float: left;

			a
			{
				float: left;
				padding: 0 15px;
			}

			&.actif
			{
				a
				{
					background: #86005b;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}


/**
 * Contenu
 ******************************************/
#contenu
{
	position: relative;
	
	h1
	{
		color: @couleur-b3;
		font-size: 22px;
		font-weight: normal;
		margin: 0 0 20px;

		.btn_ajouter
		{
			font-size: 14px;
			font-weight: none;
			margin: 0 0 0 30px;
		}
	}
	
	.intro
	{
		margin: 0 0 20px;
	}
}

/**
 * Principal
 ******************************************/
#principal
{
	/* Onglets */
	#onglets_principal,
    .onglets_principal
	{
	    .clearfix;
	    
		line-height: 23px;
		position: relative;
		top: 1px;
		
		li
		{
			background: #fff;
			color: @couleur-b1;
			float: left;
			margin: 0 6px 0 0;
			
			&.actif,
			a:hover,
			a:focus
			{
				background: @couleur-a4;
				color: @couleur-a1;
                border-bottom: 1px solid @couleur-a4;
			}
			
			a
            {
                color: @couleur-b1;
                border: 1px solid @couleur-a4;
                border-bottom: 1px solid @couleur-a3;
            }
			
			strong { font-weight: normal; }
			
			a, strong
			{
				float: left;
				padding: 0 15px;
			}
			
			a:hover { text-decoration: none; }
			
			.completion
			{
				color: @couleur-d1;
				font-weight: bold;
				margin: 0 0 0 5px;
				
				&.completion_validee { color: @couleur-c1; }
			}
			
			&.ajouter
			{
				background: 0;
				margin: 0 0 0 10px;
				a { .btn_ajouter;
                    border: none; }
			} 

			&#msg_aide_drm
			{
				background: 0;
				float: right;
				margin: 0;

				a
				{
	                border: 0;
	                padding: 0;

	                &:hover,
					&:focus
					{
						background: url(../images/pictos/pi_aide.png) 0 0 no-repeat;
		                border: 0;
					}
	            }
			}
		}

        li.actif strong {
            border-bottom: 1px solid @couleur-a4;
        }
	}
	
	/* Contenu onglet */
	#contenu_onglet, .contenu_onglet
	{
		background: @couleur-a4;
		.border(@couleur-a3);
		margin: 0 0 15px 0;
		padding: 18px;
		
		
		
	}
}


/* Notice */
.notice
{
    background: #fff;
    .border(#dbdbdb);
    margin: 0 0 15px;
    padding: 15px;
    .clearfix;
    
    h2, ul li
    {
        margin: 0 0 10px;
    }
    
    kbd
    {
        background: #fff;
        .border(#dbdbdb);
        border-width: 1px 2px 2px 1px;
        .border-radius(3px);
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
    }
}

/**
 * Footer
 ******************************************/
#footer
{
	.copyright
	{
		float: left;

		p
		{
			color: @couleur-a2;
			font-size: 12px;
			margin: 0 0 10px;

			a { color: @couleur-a2; }
		}
	}
	
	ul#logos_footer
	{
		float: right;
		
		li 
		{
			float: left;
			margin: 0 0 0 15px; 
		}
	}
}



/**
 * Popups
 ******************************************/
/* Boutons d'action */
.btn_popup_trigger { .invisible; }



/* Formulaire */
.popup_form
{
	.ligne_form
	{
		.clearfix;
		
		line-height: 22px;
		margin: 0 0 15px;
	
		label
		{
			display: inline-block;
			vertical-align: top;
			width: 200px;
		}
		
		input[type=text], select
		{
			background: #fff;
			border: 1px solid #d3d2cd;
			font-size: 12px;
			vertical-align: top;
		}
		
		input[type=text]
		{
			height: 20px;
			padding: 0 4px;
			width: 190px;
			
			.ielt9 &
			{
				height: 18px;
				padding-top: 2px;
			}
		}
		
		ul.checkbox_list
		{
		    display: inline-block;
            float: left;
            height: 96px;
            margin-left: 200px;
            margin-top: -20px;
            overflow: auto;
            padding: 0 4px;
            width: 250px;
		    
		    label 
		    {
		        display: inline;
		    }
		}
		
		input[type=checkbox],
		input[type=radio]
		{
			margin: 0 5px 0 0;
			vertical-align: middle;
		}
		
		select
		{
			height: 22px;
			width: 200px;
		}
		
		input.ui-autocomplete-input
		{
		}

		
		.error
		{
			display: block;
			line-height: 1.2;
			margin: 15px 0 0;
		}
	}
	
	.ligne_form_btn 
	{
		margin: 30px 0 0;
		text-align: right;
		
		button, a
		{
			height: 28px;
			line-height: 28px;
			margin: 0 0 0 5px;
			padding: 0 10px;
			text-transform: uppercase;
            font-size:12px;
		
			&.btn_annuler { 
                    
                .btn_gris; 
                &:hover{ text-decoration: none; }
            }
			&.btn_valider { .btn_violet; }
		}
	}
}

	


.ui-dropdownchecklist-selector-wrapper,
.ui-dropdownchecklist-selector
{
	font-size: 0;
	line-height: 1;
	
	.ui-dropdownchecklist-text
	{
		background: #fff;
		border: 1px solid #d3d2cd;
		color: @couleur-a1;
		font-size: 12px;
		height: 18px;
		padding: 2px 4px 0;
		width: 190px !important;
	}
	
	&.ui-state-active
	{
		.ui-dropdownchecklist-text { border-bottom-color: #f4f4f4; }
	}
}

.ui-dropdownchecklist-dropcontainer-wrapper
{
	height: auto !important;
	width: auto !important;
}

.ui-dropdownchecklist-dropcontainer,
{
	background: #fff;
	border: 1px solid #d3d2cd;
	height: 200px !important;
	width: 250px;
	
	.ui-dropdownchecklist-item
	{
		padding: 2px 4px;
		
		label
		{
			width: auto;
			vertical-align: middle;
		}
	}
}

.popup_chargement
{
    .ligne_form_btn 
    {
        background: url(../images/pictos/pi_loader.gif) 0 center no-repeat;
        padding-left: 20px;
        
        button
        {
            .opacite(0.5);
        }
    }
}

#popup_msg_aide
{
    #texte_popup_msg_aide
    {

    }

    #btn_popup_msg_aide
    {
    	margin: 15px 0 0;
    	text-align: center;

    	a
		{
			.btn_violet;
			height: 28px;
			line-height: 28px;
			margin: 0 0 0 5px;
			padding: 0 10px;
			text-transform: uppercase;
		}

       a:hover { text-decoration : none; }
    }
}

#ajax_notifications {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1199;
}

#ajax_form_progress_notification, #ajax_form_error_notification {
	display: none;  
	margin: 2px auto;
	color: #fff;
	padding: 5px;
	text-align: center;
	// .opacite(0.9);
}

#ajax_form_progress_notification {
	background: #114C8D;
	z-index: 1200;
	width: 150px;
}

#ajax_form_error_notification {
	z-index: 1201;
	background: #900000;
	width: 400px;
    a
    {
        color: #fff;
        text-decoration : underline;
    }

   a:hover { text-decoration : none; }
}

.bloc_conditionner {
	display: none;
}

.template_form {
    display: none;
}
