@charset "utf-8";
/**
 * Fichier : principal.less
 * Description : styles spécifiques au formulaire d'inscription
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/**
 * Création de compte
 ******************************************/
#creation_compte
{
	h1
	{
		font-size: 21px;
		font-weight: normal;
		margin: 0 0 25px;
		
		strong { color: @couleur-b3; }
	}
	
	h2
	{
		font-size: 16px;
		margin: 0 0 15px;
	}

        .txt-espace { line-height:18px; }

        ul{ margin-top: 5px;}

        ul li
        { 
                line-height:18px;
                list-style: square;
                margin: 0 0 0 25px;
        }
	
	.col
	{
		display: inline-block;
		vertical-align: top;
		width: 425px;
		
		.ielt8 & { .inline-block-ie; }
	}
	
	.ligne_form
	{
		margin: 0 0 15px;
		
		.error_list { width: 310px; }
		
		label
		{
			display: inline-block;
			vertical-align: middle;
			width: 200px;
		}
		
		&.ligne_form_large label
		{
			display: block;
			margin: 0 0 10px;
			width: auto;
		}
		
		input[type=text], input[type=password], select
		{
			background: #fff;
			border: 1px solid #d3d2cd;
			.border-radius(2px);
			font-size: 12px;
			position: relative;
			vertical-align: middle;
			.pie;
		}

		input[type=text], input[type=password]
		{
			height: 18px;
			padding: 0 4px;
			width: 120px;
			
			.ielt9 &
			{
				height: 16px;
				padding-top: 2px;
			}
		}
		
		select
		{
			height: 20px;
			width: 130px;
		}
		
		.champ_form_radio_cb 
		{
			label
			{
				display: inline-block;
				margin: 0 20px 0 0;
				width: auto;
			}
		}
		
		&.ligne_form_large .champ_form_radio_cb
		{
			input
			{
				margin: 0 5px 0 0;
				vertical-align: middle;
			}
		}
	}
	
	.ligne_btn 
	{
		margin: 34px 0 0;
                right: 23px;
		
		button, a
		{
			line-height: 24px;
			font-weight: normal;
			text-transform: uppercase;
			&:hover { text-decoration: none; }
		}
		
		.btn_valider
		{
			background: url(../images/boutons/btn_majeur.png) 0 0 no-repeat;
			color: #fff;
			display: inline-block;
			font-size : 13px;
			line-height: 26px;
			padding: 0 17px 0 15px;
		}
		
		.btn_ajouter
		{
			.btn_violet;
			background-image: url(../images/boutons/btn_ajouter.png);
			background-position: 7px center;
			margin: 0 10px 0 0;
			padding: 0 10px 0 30px;
		}

		.btn_supprimer
		{
			.btn_gris;
			background-image: url(../images/boutons/btn_supprimer.png);
			background-position: 7px center;
			padding: 0 10px 0 30px;
                        margin-right:20px;
                        text-transform: none;
		}
	}
	
	/* Ajout d'établissements */
	#infos_etablissements
	{
		margin: 15px 0 0;
		position: relative;
		padding: 0;
		width: 895px;
				
		.etablissement
		{
			.border(@couleur-a3);
			background: @couleur-a4;
			display: inline-block;
			margin: 0 20px 20px 0;
			padding: 10px 10px 0;
			position: relative;
			vertical-align: top;
			width: 250px;
			
			.ielt8 & { .inline-block-ie; }
			
			.error_list { width: auto; }
			
			.ligne_form label { width: 110px; }
		
			a.supprimer
			{
				.box-dimensions(13px, 13px);
				.pos-abs(-5px, -5px);
				background: url(../images/pictos/pi_supprimer.png) 0 0 no-repeat;
				display: inline-block;
				text-indent: -9999px;
			}
		}
	}

        a.btn_ajouter_etab
        {
                .btn_gris;
                background-image: url(../images/boutons/btn_ajouter.png);
                background-position: 7px center;
                margin: 0 10px 0 0;
                padding: 5px 10px 6px 30px;
                position: absolute;
                right: 127px;
                text-transform : none;
        }

        a#btn_ajouter_etablissement
        {
                .btn_gris;
                background-image: url(../images/boutons/btn_ajouter.png);
                background-position: 10px center;
                font-size: 15px;
                line-height: 1.2;
                height: auto;
                padding: 4px 10px 4px 32px;
                font-size: 15px;
                text-transform: uppercase;

                &:hover { text-decoration: none; }

                span
                {
                        color: #fff;
                        display: block;
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: none;
                }
        }
		
	/* Récapitulatif */
	#recapitulatif
	{

		li
		{
			list-syle-type: none;
		}

		h2
		{
			font-size: 12px;
			margin: 0;
		}
		
		.recap_perso,
		.recap_etablissement
		{
			margin: 0 0 20px;

			p
			{
				margin: 5px 0;
				span { font-weight: bold; }
				strong
				{
					color: @couleur-a2;
					font-style: italic;
					font-weight: normal;
				}
			}
		
			.adresse_comptabilite
			{
				margin: 20px 0 0;
			} 

			.btn_ajouter
			{
					.btn_violet;
					background-image: url(../images/boutons/btn_ajouter.png);
					background-position: 7px center;
					margin: 0 10px 0 0;
					padding: 0 10px 0 30px;
			}

			.btn_supprimer
			{
					.btn_gris;
					background-image: url(../images/boutons/btn_supprimer.png);
					background-position: 7px center;
					padding: 0 10px 0 30px;
					margin-right:20px;
					text-transform: none;
			}
		}

		.ligne_btn 
		{ 
			text-align: right; 
			margin:0;
		}

                
	}

        #modification-adresse-form
        {
                .border(@couleur-a3);
                background: @couleur-a4;
                display: inline-block;
                margin: 20px 20px 20px 0;
                padding: 10px 10px 0;
                position: relative;
                vertical-align: top;
                width: 300px;

                .ielt8 & { .inline-block-ie; }

                .error_list { width: auto; }

                .ligne_form label { width: 142px; }

                .ligne_btn { margin: 15px 0; }
                
                .btn_ajouter { line-height: 21px; }
                        

                a.supprimer
                {
                        .box-dimensions(13px, 13px);
                        .pos-abs(-5px, -5px);
                        background: url(../images/pictos/pi_supprimer.png) 0 0 no-repeat;
                        display: inline-block;
                        text-indent: -9999px;
                }
        }
}



.tableau_recap
{
    .actions
    {
        a
        {
            background: 0 50% no-repeat;
            display: inline-block;
            height: auto;
            margin: 0 10px 0 0;
            padding: 0 0 0 15px;

            &.btn_activer,
            &.btn_desactiver { padding-left: 20px; }

            &.btn_etablissement { background-image: url(../images/pictos/pi_etablissement_2.png); }
            &.btn_activer { background-image: url(../images/pictos/pi_actif.png); }
            &.btn_desactiver { background-image: url(../images/pictos/pi_inactif.png); }
            &.btn_modifier { background-image: url(../images/pictos/pi_edit.png); }
        }
    }
}



/**
 * Contrat mandat
 ******************************************/
#contrat_mandat
{
	h1
	{
		margin: 25px 0 15px;
	}

	.bloc_form
    {
        .border-radius(5px);
        .border(#e3e2e2);
        margin: 0 0 15px; 

        .ligne_form
        {
        	margin: 0;
            padding: 10px 0 10px 10px;

            label
            {
                    display: inline-block;
                    font-weight: bold;
                    width: 200px;
            }

            input[type=text] { width: 200px; }
        }

        .ligne_form_alt { background: @couleur-a7; }

        .col
        {

            float: left;
            vertical-align: top;
            width: 448px;    
            
            &:first-child
            {
                border-right: 1px solid #e3e2e2;
                .ligne_form
                {
                    &:first-child { .border-radius(5px 0 0 0) }
                    &:last-child { .border-radius(0 0 0 5px) }
                }
            }

            &:last-child
            {     
                .ligne_form
                {
                    &:first-child { .border-radius(0 5px 0 0) }
                    &:last-child { .border-radius(0 0 5px 0) }
                }
            }
        }
	}

	.chais
	{
		.clearfix;

		li
		{
			float: left;
			padding-right: 10px;
		}
	}

	.presentation,
	.modification
	{
		.btn_valider { margin: 0 10px 0 0;}
		.btn_mdp, .btn_annuler
		{
			color: @couleur-b3;
			text-decoration: underline;
		}
	}

	.btn_suiv { float: none; }
}

/**
 * Profil
 ******************************************/

#profil
{
	a#btn_archiver_etablissement { padding: 0 10px; }

	#etablissement_archive
	{
		background: @couleur-a1;
		color: @couleur-e2;
		font-size: 16px;
		height: 30px;
		line-height: 30px;
		margin: 0 0 25px;
		text-align: center;
	}
}