@charset "utf-8";
/**
 * Fichier : declaration.css
 * Description : styles spécifiques aux étapes de la déclaration
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/

p#date_drm
{
	font-size: 16px;
	font-style: italic;
	margin: 20px 0;
}

/**
 * Statut Déclaration
 ******************************************/
#statut_declaration
{
	margin: 0 0 25px;
	.clearfix;
	
	#declaration_etapes
	{
		background: @couleur-a1;
		color: #fff;
		float: left;
		
		ol
		{
			line-height: 21px;
			list-style: none;
			
			* { float: left; }
			
			li
			{
				/* Premier */
				&.premier
				{
					* { background: 0; }
				}
				
				/* Elément passé */
				&.passe
				{
					background: @couleur-c1;
				}
				
				/* 2 éléments passés à la suite */
				+ li.passe
				{
					* { background-position: 0 0; }
				}
				
				/* Elément actif */
				&.actif
				{
					background: @couleur-b3;
					font-weight: bold;
					
					* { background-position: 0 -21px; }
					
					/* Elément après l'actif */
					+ li
					{
						* { background-position: 0 -42px; }
					}
				}
				
				*
				{
					background: url(../images/fonds/bg_etapes_declaration.png) 0 -63px no-repeat;
					padding: 0 15px 0 20px;
				}
				
				a
				{
					color: #fff;
					&:hover { text-decoration: none; }
				}
			}
		}
	}
	
	#etat_avancement
	{
		float: right;
		margin: -10px 0 0;
		width: 190px;
		
		p
		{
			font-size: 11px;
			line-height: 1;
			margin: 0 0 5px;
			text-align: right;
			
			strong
			{
				color: @couleur-b3;
				font-size: 24px;
				margin: 0 0 0 5px;
				span { font-size: 12px; }
			}
		}
		
		#barre_avancement
		{
			background: @couleur-a1;
			
			div
			{
				background: @couleur-b3;
				height: 3px;
			}
		}
	}
}


/**
 * Etape 2 -> Ajouts / Liquidations
 ******************************************/
#principal .tableau_ajouts_liquidations
{
	margin: 0 0 25px;
	
	h2
	{
		font-size: 16px;
		font-weight: normal;
		margin: 0 0 10px;
	}
	
	/* Tableau de données */
	table
	{
		border-collapse: separate;
		border-spacing: 3px;
		width: 100%;
		
		th, td
		{
			border: 1px solid;
			font-weight: normal;
			line-height: 18px;
			padding: 0 10px;
			vertical-align: middle;
		}
		
		thead
		{
			th
			{
				background: @couleur-b1;
				border-color: @couleur-b1;
				color: #fff;
				
				&:first-child
				{
					text-align: left;
					width: 180px;
				}
			}
		}
		
		tbody
		{
			td
			{
				background: @couleur-a3;
				border-color: @couleur-a5;
				text-align: center;
				
				&:first-child { text-align: left; }
				
				
				input, select
				{
					margin: 3px 0;
					vertical-align: middle;
				}
				
				input[type=checkbox] { height: 14px; }

				input[type=text], select
				{
					background: #fff;
					border: 1px solid @couleur-a5;
					color: @couleur-a1;
					
					&.num { width: 50px; }
					&:hover, &:focus { border-color: #777; }
				}
				
				input[type=text]
				{
					height: 16px;
					padding: 2px 5px 0;
				}
				
				select { height: 20px; }
			}
			
			tr.alt td
			{
				background: #fff;
			}
		}
	}
	
	
	/* Ajout de produits */
	.ajout_produit
	{
		margin: 10px 0 0;
		
		table
		{
			margin: 0 0 10px;
		}
		
		.btn
		{
			text-align: right;
			
			.btn_annuler { .btn_rose; }
			.btn_valider { .btn_vert; }
			
			.btn_annuler, .btn_valider
			{
				line-height: 20px;
				margin: 0 0 0 5px;
				padding: 0 5px;
			}
		}
	}
}


/**
 * Etape 3 -> Colonnes déclaration
 ******************************************/
#colonnes_dr
{
	background: #fff;
	border: 1px solid @couleur-a5;
	margin: 0 0 15px;
	padding: 15px;
	.clearfix;
	
	.col_curseur { font-size: 1px; }
	
	/* Colonne des intitulés */
	#colonne_intitules
	{
		float: left;
		font-size: 13px;
		line-height: 20px;
		margin: 0 25px 0 0;
		position: relative;
		width: 190px;
		
		p 
		{
			background: @couleur-a4 8px 5px no-repeat;
			border: 1px solid @couleur-a5;
			margin: 0 0 10px;
			padding: 0 8px;
			
			&.total_sorties { text-align: right; }
			&.total_stock_theorique { font-size: 10px; }
		}
		
		.groupe
		{
			margin: 0 0 10px;
			text-align: right;
			
			p 
			{
				background-color: @couleur-a4;
				background-image: url(../images/puces/fleche_col_groupe_ferme.png);
				cursor: pointer;
				font-weight: bold;
				padding-left: 20px;
			}
			
			&.groupe_ouvert p
			{
				background-image: url(../images/puces/fleche_col_groupe_ouvert.png);
				background-position: 8px 6px;
				margin: 0;
			}
			
			ul 
			{
				color: @couleur-b1;
				font-size: 12px;
				padding: 10px 9px 0;
				
				li { margin: 0 0 10px; }
			}
		}
		
		.totaux
		{
			padding: 20px 0 0;
			p 
			{
				background: @couleur-b1;
				color: #fff;
				font-weight: bold;
			}
		}
	}
	
	/* Colonne des saisies */
	#col_saisies
	{
		float: left;
		padding: 0 0 10px;
		position: relative;
		overflow-x: auto;
		width: 405px;
		
		.col_saisies_cont
		{
			.clearfix;
		}
	}
	
	.col_recolte
	{
		float: left;
		font-size: 13px;
    	line-height: 20px;
		margin: 0 25px 0 0;
		position: relative;
		width: 110px;
		
		h2
		{
			background: @couleur-b1;
			color: #fff;
			padding: 1px 8px;
			text-align: center;
		}
		
		.col_cont
		{
			background: @couleur-a4;
			border: solid @couleur-a5;
			border-width: 0 1px 1px;
			padding: 10px 6px;
			
			p
			{
				font-weight: bold;
				height: 20px;
				text-align: right;
				padding: 1px 0;
				margin: 0 0 10px;
				overflow: hidden;
				zoom: 1;
			}
			
			input, select
			{
				background: #fff;
				border: 1px solid @couleur-a5;
				color: @couleur-a1;
				text-align: right;
				
				&:hover, &:focus { border-color: #777; }
			}
			
			input
			{
				height: 16px;
				padding: 2px 5px 0;
				position: relative;
				top: -1px;
				width: 84px;
				
				&.somme,
				&.somme_groupe,
				&.somme_stock_debut,
				&.somme_stock_fin
				{
					border-color: #bcbcbc;
					font-weight: bold;
					
					&:hover, &:focus { border-color: #777; }
				}
			}
			
			select
			{
				height: 18px;
				width: 96px
			}
			
			.groupe
			{
				margin: 0 0 10px;
				
				&.groupe_ouvert { margin: 0; }
				
				p { margin: 0; }
				ul 
				{
					padding: 10px 0 0;
					
					li
					{
						height: 20px;
						margin: 0 0 10px;
						overflow: hidden;
						zoom: 1;
						
						/*input
						{
							position: relative;
							top: -1px;
						}*/
					}
				}
			}
			
			.totaux
			{
				color: @couleur-b1;
				padding: 20px 0 0;
			}
			
			.col_btn
			{
				.btn_col_active { display: none; }
				
				button
				{
					font-size: 12px;
					font-weight: bold;
					height: 20px;
					line-height: 20px;
					margin: 0 0 3px;
					padding: 0 5px;
				}
				
				.btn_modifier,
				.btn_reinitialiser { .btn_rose; }
				.btn_valider { .btn_vert; }
				.btn_supprimer { .btn_rouge; }
			}
		}
		
		.col_masque
		{
			display: none;
			left: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 110px;
		}
		
		&.col_inactive
		{
			.col_cont 
			{
				input, select { background: @couleur-a4; }
				
				input
				{
					&.somme,
					&.somme_groupe,
					&.somme_stock_debut,
					&.somme_stock_fin
					{
						color: @couleur-b1;
					}
				}
				
				.col_btn
				{
					.btn_col_inactive { visibility: hidden; }
					.btn_col_active { display: none; }
				}
			}
			
			.col_masque { display: block; }
		}
		
		&.col_focus,
		&.col_active
		{
			.col_cont { border-color: #777; }
		}
		
		&.col_active
		{
			.col_cont
			{
				.btn_col_active { display: block; }
				.btn_col_inactive { display: none; }
			}
		}
		
		&.col_envoi
		{
			.col_cont
			{
				.col_btn
				{
					background: url(../images/visuels/ajax_loader.gif) center center no-repeat;
					.btn_col_active { visibility: hidden; }
				}
			}
		}
	}
	
	.btn_ajouter
	{
		font-size: 14px;
		height: 22px;
		line-height: 22px;
	}
}

/**
 * Boutons étape
 ******************************************/
#btn_colonnes_dr
{
	position: relative;
	text-transform: uppercase;
	.clearfix;
	
	button
	{
		height: 25px;
		line-height: 25px;
	}
	
	.btn_suiv
	{
		float: right;
		.btn_rose;
		padding: 0 23px 0 15px;
	}
}



/**
 * Boutons étape
 ******************************************/
#principal .btn_passer_etape
{
	.btn_gris;
	.btn_suiv;
	
	float: right;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin: 0 0 0 15px;
	padding: 0 23px 0 10px;
	text-transform: uppercase;
	
	&:hover { text-decoration: none; }
}


#btn_etape_dr
{
	position: relative;
	text-transform: uppercase;
	.clearfix;
	
	a
	{
		line-height: 28px;
		&:hover { text-decoration: none; }
	}
	
	.btn_prec
	{
		float: left;
		.btn_vert;
		padding: 0 15px 0 23px;
	}
	
	.btn_suiv
	{
		float: right;
		.btn_rose;
		padding: 0 23px 0 15px;
	}
}