all:
  base_url : http://declaration.dev.vinsalsace.pro
  tomcat_dir : /var/lib/tomcat6/webapps/cas
  autologin: false
  ac_php_cas:
    domain: declarweb.site.com
    port: 443
    path: cas
    url : "https://declarweb.site.com/cas/login"
  ldap:
    serveur: "declarweb.intra.actualys.fr"
    dn: "cn=admin,dc=site,dc=com"
    dc: "dc=site,dc=com"
    pass: "**********"
  ac_exception_notifier:
    enabled: false
    email:
      from: "ne_pas_repondre@civa.fr"
      from_name: "acExceptionNotifierPlugin"
      to: ["vlaurent@actualys.com", "jblemetayer@actualys.com", "jthomas@actualys.com"]   
      subject: "[declaration.declarvins.net] 500 | Internal Server Error | Exception :-)"
