# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/07-Databases

all:
  default:
    class: acCouchdbDatabase
    param:
      dsn: http://127.0.0.1:5984/
      dbname: declarvin
